[2018-10-16 12:37] anevins12 opened #1 "Text on top of hero - concern with room"
On mobile, text on top of the hero may not have enough room to be there. It currently works in the design, but when dynamic content is used with long titles and descriptions then the text will likely overlap or cut off.
![header-mobile](https://user-images.githubusercontent.com/2318561/47016822-9f951c00-d148-11e8-88ec-3cc8f5c177a2.png)

Recommendation: Move text into its natural position on smalle

[2018-10-16 12:59] anevins12 opened #4 "Header image cropping: Need focal point control"
Learning from the 2017 theme, we saw that people used the header image as more than just a decorative image. They cared about what was inside it and did not want it to be cropped arbitrarily as per the design requirements.

Some people use header images with text inside of the image. That's not great and that's not the use case that I'm focusing on. I'm focusing on people who have decorative image

[2018-10-16 13:01] audrasjb opened #5 "H1 tag in site-branding"
Hello,

Like many other themes, I think we shouldn't use H1 tag in site-branding.php if we are not on the website homepage (for both front page or blog post page).

[2018-10-16 13:02] audrasjb commented on #5
In #3 : add a condition to display either a `p` tag or a `h1` tag.

[2018-10-16 13:17] anevins12 opened #6 "Text on top of images - gradient underlay needed"
Once we add text on top of images, we'll need to have a consistent underlay/overlay design pattern that ensures text is accessible on any image.

The minimum contrast that is required for an overlay just under 0.55 opacity of black. I recommend adding a solid opacity of black underneath the text and then adding a gradient above or below that text, dependant on where it is displayed on the image.

[2018-10-16 13:29] dartiss opened #7 "Author information displayed incorrectly"
For example, see the bottom of this post... https://artiss.blog/2018/10/my-first-micro-sabbatical/

It's using H2 to display the text and is currently ignoring any post size boundaries.

[2018-10-16 13:32] dartiss opened #8 "Jetpack display issues"
I'm sure this is more an issue with Jetpack but as an awful lot of theme users are going to using it, I don't know if this is something worth fixing with the CSS of Twenty Nineteen.

Two immediate things spring out...

1. Akismet message on comments is shown left justified, ignoring other post boundaries. See bottom of https://pento.net/2018/10/04/wordpress-5-0-needs-you/, for example. Here's a sc

[2018-10-16 14:28] fabiankaegy opened #13 "Post Navigation aligned wrong"
The `.nav-links` element on the Single Blog has a left alignment similar to `.alignwide` blocks. But the right right side has the standard alignment.

<img width="1808" alt="bildschirmfoto 2018-10-16 um 16 27 28" src="https://user-images.githubusercontent.com/20684594/47023706-81d3b100-d160-11e8-9eeb-bf50afbd51ec.png">

[2018-10-16 14:29] kjellr opened #14 "Add widget area(s) to the footer"
The theme currently doesn't include any widget areas. We should add at least one to the page footer.

[2018-10-16 14:30] 00travelgirl00 opened #15 "undeline links in content"
Links within content should be underlines, otherwise they are hard to see for people with colorblindness.

<img width="837" alt="bildschirmfoto 2018-10-16 um 16 27 05 kopie" src="https://user-images.githubusercontent.com/21318377/47023815-bfd0d500-d160-11e8-9db9-c04617a3a76a.png">
<img width="837" alt="bildschirmfoto 2018-10-16 um 16 27 05" src="https://user-images.githubusercontent.com/21318377/4

[2018-10-16 14:39] enodekciw opened #17 "show .site-description only if $description is not empty"
At the moment .site-description in template-parts/header/site-branding.php is always visible. On is_home() or is_front_page() it displays the description of the website, however on other pages it will only display the seperator (&mdash;)

[2018-10-16 14:42] timbowen opened #20 "Old Instagram Icon"
Looking at the theme screenshot I noticed the old Instagram logo is being used: http://cs.zone/Wis7ov

This logo was updated in 2016. Remember to use the new one :)

[2018-10-16 14:43] lancewillett commented on #20
Good eye, Tim!

[2018-10-16 14:52] carolinan opened #24 "Footer credit links are in the wrong order"
Currently the privacy policy link sits between the site title and the WordPress credit link,  so it looks like the privacy policy is proudly powered by WordPress:

Theme test, Privacy Policy	Proudly powered by WordPress.

The privacy policy link needs to be moved, and/or dividers need to be added.

[2018-10-16 14:53] kjellr commented on #20
Very good catch @timbowen! Looks like this was fixed in the theme itself though. It [currently pulls in](https://github.com/WordPress/twentynineteen/blob/be850d11ee31434ad700db518ff8570f82e65b9c/classes/class.twentynineteen-svg-icons.php#L286) the current instagram logo:

![screen shot 2018-10-16 at 10 50 52 am](https://user-images.githubusercontent.com/1202812/47025445-7d43d400-d131-11e8-8e36-0be

[2018-10-16 14:53] #20 closed

[2018-10-16 15:42] waviaei opened #29 "Support for non-latin font fallbacks"
Looking at the [_fonts.scss](https://github.com/WordPress/twentynineteen/blob/master/sass/variables-site/_fonts.scss), most of the specified fonts -- as I am aware -- only support Latin alphabets.  They do not support or only very limited support for non-latin alphabets.

In addition to that, serif fonts are specified as the primary body font.

`$font__body: "Hoefler Text", "Baskerville Old Face",

[2018-10-16 15:43] joedolson commented on #15
Note that this is a requirement for the accessibility-ready tag on WordPress.org: https://make.wordpress.org/themes/handbook/review/accessibility/required/#content-links

[2018-10-16 16:05] melchoyce commented on #15
Could be a fun opportunity to play with some styled borders — dashes, a thicker line, a double line, etc.

[2018-10-16 16:18] slaFFik commented on #29
Oh yes, Cyrillic please too!

[2018-10-16 16:20] ianbelanger79 opened #30 "SASS or CSS, let's decide here"
As per the slack discussion in the Twenty Nineteen kickoff meeting. We need to decide to use either SASS or plain CSS. Make your case

[2018-10-16 16:20] Wingo5315 commented on #30
CSS. It's the result of SASS anyway, so why put barriers up for no reason?

[2018-10-16 16:23] nickcernis opened #31 "Document Sass compilation, editor style syncing"
How should we document how Sass is expected to be compiled? I'm for it, but its inclusion scared some folks in the #core-themes chat today. Some education about how to work with it might reduce any fears.

The [announcement post](https://make.wordpress.org/core/2018/10/16/introducing-twenty-nineteen/) also mentions:

Please could this process also be documented or described briefly? (For example,

[2018-10-16 16:28] Wingo5315 opened #32 "Make the "links" look more like a menu"
I've had a look at the mockups and the "menu" doesn't actually look like a menu, which can be a real problem for some users.

[2018-10-16 16:30] asharirfan commented on #30
I think SASS is the way to go because it makes the code more maintainable. We will also be able to automate the prefixing and other minor tasks related to CSS 💯

[2018-10-16 16:34] ianbelanger79 opened #33 "Comma separated menu items may not work in all languages"
I noticed that the mock-ups show a comma separated menu. This was brought up in a comment on the make blog that it may not work very well in all languages. https://make.wordpress.org/core/2018/10/16/introducing-twenty-nineteen/#comment-34162 This should probably be discussed to see if the menu should use commas or not.

[2018-10-16 16:35] mindctrl commented on #33
Related: https://github.com/WordPress/twentynineteen/issues/32

[2018-10-16 16:39] joyously commented on #4
That is sort of out of scope of a theme. There are plugins that provide it, though.

[2018-10-16 16:41] mor10 opened #34 "If Sass: Create unified build process for development"
If Sass is chosen as the CSS modality, a unified build process should be included in the theme repo to ensure:

1. every contributor works with the same settings
2. Sass doesn't become a barrier to entry

The build process should include Sass processing (ideally through PostCSS), and probably enforce the WordPress style guide through Stylelint.

I vote for a Gulp process since it is relatively eas

[2018-10-16 16:44] mor10 opened #35 "Include one CSS Custom Property in shipped code to move the web forward"
CSS Custom Properties (ie "variables") need more presence on the web for the browser manufacturers to fast-track the feature. By adding a single custom property in the shipped code of Twenty Nineteen, we will increase the frequency of use of this feature by millions of sites, thus helping to move the web forward.

It would be easy to include a single custom property with appropriate fallbacks in t

[2018-10-16 16:49] LittleBigThing commented on #14
I agree to have it/them in the footer. That is probably the area that can be implement the quickest while profiting from Gutenberg's new features like wide-align and columns.

Maybe interesting to check with leads of Gutenberg's phase 2 which includes "replacing widgets with blocks in registered sidebars"?

[2018-10-16 16:50] mor10 commented on #30
As per #34, if Sass is selected, a unified build process should be included in the theme to ensure consistency. The `/sass/` folder is aggressively modularized making it hard for people now familiar with Sass processing to understand exactly how to wire things together.

[2018-10-16 16:50] mor10 commented on #30
That said, I vote for no Sass. In my view, syncing styles between front and back end is not sufficient reason to use an abstraction layer for CSS.

[2018-10-16 17:01] arunsathiya opened #37 "Fix: Search container on 404 template can have margins"
## Current search container on a 404 page

On a 404 page,

- The search button seems to be squished to the search field
- The overall search container is missing margins as well, given it a look as shown below

<img width="1440" alt="screenshot 2018-10-16 at 22 26 16" src="https://user-images.githubusercontent.com/18581859/47033471-8913b280-d192-11e8-9af4-d0d31b234da4.png">

## Suggested view

Som

[2018-10-16 17:04] audrasjb commented on #15
Yes, good catch.
And I'd say we should also underline links in comments area (which are mostly often ignored but that can happens).

[2018-10-16 17:09] joyously commented on #6
Or use `text-shadow`. Or an `invert` filter.

[2018-10-16 17:10] joyously commented on #17
Don't you need to display it for `is_customize_preview()` also?

[2018-10-16 17:11] joedolson commented on #15
I'd argue that comments **are** content; but if you think I should clarify that thinking in the theme accessibility guidelines, I'll do that.

[2018-10-16 17:12] joyously commented on #24
Or don't put the Privacy Policy link in there for the user.

[2018-10-16 17:12] davidakennedy opened #41 "Accessibility-Ready Review and Checklist"
Nice work overall on the accessibility of this design. My favorite parts are the nice focus states on form fields.

Here are the [requirements I tested against](https://make.wordpress.org/themes/handbook/review/accessibility/required/).

The issues below are totally fixable with a little design love. I may have missed something, so if I did, let me know in the comments. Also, please let me know if

[2018-10-16 17:17] davidakennedy opened #43 "404 Page Needs Styling"
The 404 page needs to be styled more. It looks like it's missing some wrapper styles for widths and responsiveness.

[2018-10-16 17:17] audrasjb commented on #15
You are right, however linksin comments are often ignored because you can’t publish links in comment by default. This issue have been resolved in Twenty Seventeen almost a year after Twenty Seventeen was released ;)

[2018-10-16 17:18] davidakennedy opened #44 "Jetpack Infinite Scroll Styles Not Needed"
I see some styles for Jetpack infinite scroll functionality. That's usually not done in default themes, but instead handled in Jetpack itself. So those can be removed.

[2018-10-16 17:22] melchoyce commented on #41
If it helps, `#767676` is the lightest a grey can be on white before it stops passing AA.

[2018-10-16 17:29] joyously commented on #30
Default themes are used as examples and many people create child themes for them for their site customization. I advocate CSS for the ease of use for the end user, not anything to do with development now.
Modern development: a compiler isn't modern, it's a crutch.
Editor stylesheet: Gutenberg is nothing new in this area. All themes supporting editor styles have a separate editor stylesheet. The qu

[2018-10-16 17:29] enodekciw commented on #17
It is there when you're customizing `is_home()` or `is_front_page()`.

[2018-10-16 17:29] 00travelgirl00 opened #45 "Add Footer Menu"
Add a Footer Menu Position, do make it easier for users to integrate a privacy menu page. In certain countries websites have to have an "Impressum" and privacy page on the websites. The footer is the mst common space to integrade it.

[2018-10-16 17:31] bamadesigner commented on #32
Yes, this goes against the "Predictable" philosophy behind accessibility. https://www.w3.org/WAI/WCAG21/quickref/#predictable

But, ultimately, if you want to keep this design, then you can't remove the underline styles because it makes the menu impossible to differentiate from text for those who are color blind to blue.

The underline is the only thing in this design that makes it clear those ite

[2018-10-16 17:31] joyously commented on #35
We should use more than one!
I suggested this in #core-editor. It would be so easy to do editor styles if they were Custom Properties.
I used a polyfill for older browsers, but I used them extensively in a theme I wrote this past year.

[2018-10-16 17:33] bamadesigner commented on #15
For WCAG 2.0 AA reference: https://www.w3.org/WAI/WCAG21/quickref/#use-of-color

[2018-10-16 17:36] joyously commented on #29
We can solve it the same way we did in Twenty Seventeen, which is using the language attribute on the html tag to define a different set of fonts.

[2018-10-16 17:45] burhandodhy opened #48 "Website Tagline is not visible on Single Blog page"
The Tagline is not available on blog single page http://prntscr.com/l6sbz4

[2018-10-16 17:48] joyously commented on #48
I think that was intentional.

[2018-10-16 17:50] mor10 opened #50 "Do a full pass on responsive images"
With full-width images being a thing in this theme it is essential we do a full pass on responsive images to ensure the browser has sufficient info (ie the correct `sizes` attributes) to load the image size it needs for the current display.  This requires testing. TBC.

[2018-10-16 17:51] burhandodhy commented on #48
It didn't make sense.

If so, then the separator should also be removed http://prntscr.com/l6seyg

[2018-10-16 18:00] spencerfinnell commented on #48
Related https://github.com/WordPress/twentynineteen/pull/19/files

[2018-10-16 18:04] burhandodhy opened #53 "Pagination Label Issue."
The label of next page link is "Newer posts" while it should be "Older posts" because the posts are sorted by Data and new posts show's first http://prntscr.com/l6smqs

[2018-10-16 18:45] enodekciw commented on #17
Oh, took me one browser refresh to see what you meant :)

Clearing out the input, publishing changes and only then refreshing the Customizer, made that pencil icon to disappear. Thanks for noticing this, @joyously! (not an experienced user of Customizer myself, sorry!)

I've updated the PR, should be working fine now - added in a conditional statement which checks if $description is not null when

[2018-10-16 19:03] tarikhamilton commented on #30
*Sass

Sass is going out of vogue due to CSS variables, but having a bunch of smaller partial files is 💯 x better for organizing.

Compromise: include a scss or sass folder, build the project that way, but don't minify the CSS file, so people are free to edit CSS or venture into the SCSS files.

And building can be done through webpack, as WordPress already uses it.

[2018-10-16 19:16] tarikhamilton commented on #34
I vote for webpack. WordPress uses it, vue-cli uses it, and create-react-app uses it.

WordPress developers need to be exposed to modern tooling and learning what a webpack config looks like and how it works may serve them more in the future than Gulp.

[2018-10-16 19:19] kjellr commented on #53
Fixed in #56. Thanks!

[2018-10-16 19:19] #53 closed

[2018-10-16 19:47] fabiankaegy opened #58 "Issues with the layout core/gallery block because margin top on first element"
<img width="545" alt="bildschirmfoto 2018-10-16 um 21 45 42" src="https://user-images.githubusercontent.com/20684594/47043068-fae8fd80-d18c-11e8-8fa0-ee9abe01fe49.png">
<img width="1097" alt="bildschirmfoto 2018-10-16 um 22 15 54" src="https://user-images.githubusercontent.com/20684594/47044664-135b1700-d191-11e8-91cb-bf0e548b9759.png">

[2018-10-16 19:53] mor10 commented on #34
WebPack is excellent for JavaScript-heavy projects that require dedicated JS management. That's not the case here. The smallest and easiset solution is the best. It might be as simple as npm scripts with no build tool. If a build tool is needed, Gulp makes more sense for this type of project because it just uses straight up JavaScript. WebPack introfuces an unnecessary level of complexity for some

[2018-10-16 19:56] fabiankaegy commented on #58
The visual jump on the first image in the gallery is caused by line 30 in `sass/blocks/_blocks.scss`.
[code]

[2018-10-16 19:59] spencerfinnell commented on #34
If SCSS/Sass is the only build dependency I would really like to see it just run as a standard `npm` command vs. using Gulp.

[2018-10-16 20:00] kjellr commented on #13
Closed via #21. Thanks!

[2018-10-16 20:00] #13 closed

[2018-10-16 20:18] fabiankaegy opened #59 "Layout of core/gallery block on small screens"
<img width="504" alt="bildschirmfoto 2018-10-16 um 21 45 46" src="https://user-images.githubusercontent.com/20684594/47044735-42718880-d191-11e8-9b1b-b797f5be2ddf.png">

The alignment is broken and the last item is displayed onto of the other items and the element before it.

[2018-10-16 20:35] fabiankaegy commented on #58
It also applies to `:last-child` `margin-bottom: 0;`

[2018-10-16 20:39] fabiankaegy commented on #58
<img width="999" alt="bildschirmfoto 2018-10-16 um 22 39 12" src="https://user-images.githubusercontent.com/20684594/47045948-5b2f6d80-d194-11e8-8f0f-88526140a8de.png">

[2018-10-16 20:40] mharis commented on #30
@tarikhamilton's suggestion is a logical compromise. Not really a _compromise_ but a solution!

[2018-10-16 20:42] joyously commented on #58
There was discussion in #core-editor about how to fix margin collapsing in general.

[2018-10-16 20:52] joyously commented on #30
How does "Sass is going out of vogue" mesh with "build the project with a sass folder"?
There needs to be a non-minified version of the CSS in the end product. That is part of the Theme Requirements (for review) and GPL (readable source code). Why have something going out of vogue when it isn't needed?
And just because WordPress is using webpack doesn't mean end users are. A theme is so simple, it

[2018-10-16 20:52] #44 closed

[2018-10-16 20:57] joyously opened #62 "Font sizes should be ems or %, never px"
https://github.com/WordPress/twentynineteen/blob/7b1170c700b51ccc89479a5552c97102832b2d77/style.css#L395

[2018-10-16 21:00] fabiankaegy commented on #30
@joyously I agree that there were editor stiles before Gutenberg. But whey were minimal compared to the amount of customisation you need in order to achieve the Gutenberg goal of having the backend looking very much like the frontend content.

[2018-10-16 21:05] joyously opened #63 "blockquote paragraphs are italic"
https://github.com/WordPress/twentynineteen/blob/7b1170c700b51ccc89479a5552c97102832b2d77/style.css#L555

If the content of a blockquote has `<em>` tags for emphasis, it won't look any different. Blockquotes are for referencing another source, not for making italic paragraphs.

[2018-10-16 21:08] joyously opened #64 "Consider setting background color and foreground color together"
https://github.com/WordPress/twentynineteen/blob/7b1170c700b51ccc89479a5552c97102832b2d77/style.css#L622-L624

To ensure correct contrast, background color and foreground color should always be set together.
There are other instances of this also.

[2018-10-16 21:24] joyously opened #65 "Untranslatable text in CSS"
https://github.com/WordPress/twentynineteen/blob/7b1170c700b51ccc89479a5552c97102832b2d77/style.css#L717-L727

Why would you want to do this for broken images? It would be better for the user if the alt text is shown and/or the user's setting in his browser is used for showing broken images.

Since psuedo elements on `img` tags only work when the image is not there, I think this CSS (for :before a

[2018-10-16 21:30] mharis commented on #30
@joyously The end result can be non-minified which is a good solution for people who would want to customize the CSS directly without executing the build process. That will be simple enough for a developer who wouldn't want to deal with build process issues.

[2018-10-16 21:32] dingo-d opened #67 "Feel free to check the code using the WPThemeReview standard"
While it's still not out, you can sniff the theme using new [`WPThemeReview`](https://github.com/WPTRT/WPThemeReview/) standard.

I'll put the results of sniffing the theme with `WordPress-Core` standard results, which is a good direction to go, but WPThemeReview would also be a good thing to sniff against

<details>
  <summary>phpcs results</summary>

[code]

[2018-10-16 21:42] westonruter commented on #67
See #46 for introduction of PHPCS to Travis build checks.

[2018-10-16 21:49] ahmadawais opened #70 "[PROPOSAL] Add Developer Tooling 🎯"
TwentyNineteen's design is looking pretty impressive. Also, glad to see that Gutenberg is moving forward. I wanted to start a conversation around build developer tooling for building a theme.

I don't see a `package.json` file in [the repo](https://github.com/WordPress/twentynineteen/) let alone any tooling whatsoever. I did read that Sass might be used which will, of course, need some sort of bui

[2018-10-16 21:52] allancole commented on #43
This is addressed in #68

[2018-10-16 21:57] joyously commented on #70
I think this is a lot for a theme, especially the guten-block. Themes should not have blocks.
I vote to use the least tooling possible.

[2018-10-16 22:00] tarikhamilton commented on #30
@joyously in regards to Sass going out of vogue, but still suggesting a sass folder: Sass is becoming less necessary with component-based front-ends, but those also require build tools. If we wanted minimum build tools, Sass would be the easiest way to get modularity, which is a good development practice. All you would need is `node-sass`.

I'm ultimately advocating for Sass, but suggesting to not

[2018-10-16 22:03] joyously opened #71 "unrelated property in alignleft, alignright"
https://github.com/WordPress/twentynineteen/blob/7b1170c700b51ccc89479a5552c97102832b2d77/style.css#L1205-L1215

Specifying `display:inline` has the potential to interfere with other styles, as these classes can apply to anything, especially a lot of legacy content. It is unnecessary and would be better if removed.

[2018-10-16 22:03] LittleBigThing opened #72 "Add link to privacy page in footer"
I think that it should be possible to easily display a link to the privacy policy.

It could be implemented "kind of automatically" using the [available functions from WP 4.9.6](https://make.wordpress.org/core/2018/05/17/changes-that-affect-theme-authors-in-wordpress-4-9-6/).

We have the possibility to assign a page as a privacy policy page. A link to that page can be displayed something like:

[

[2018-10-16 22:04] LittleBigThing commented on #72
Related to #45

[2018-10-16 22:07] joyously opened #73 "comments don't match CSS"
https://github.com/WordPress/twentynineteen/blob/7b1170c700b51ccc89479a5552c97102832b2d77/style.css#L1386-L1407

The CSS and the comments do not match.

[2018-10-16 22:07] 00travelgirl00 commented on #72
In my opinion it should be an own menu, where the user can decide which points should be displayed. Some countries have stricter rules. In Germany for example we have to have two sites "Impressum" and the "privacy policy".

As far as I understand the suggested code, it would only display the "privacy policy", which would be a problem for users in some countries.

[2018-10-16 22:11] joyously opened #74 "should not style hentry class"
I suggest a new class be added: `entry`. The `hentry` class should not be styled.

https://github.com/WordPress/twentynineteen/blob/7b1170c700b51ccc89479a5552c97102832b2d77/style.css#L1577-L1778

[2018-10-16 22:12] ahmadawais commented on #70
@joyously That's a good suggestion. I forgot to add one suggestion I had in mind that there should be a companion plugin with this theme which should have the tooling in it. I should probably update above.

[2018-10-16 22:21] joyously commented on #30
What modularity is needed? You can enqueue multiple stylesheets. The guys advocating inline styles for performance probably won't like that, though. I'm not sure what's wrong with one style file. It definitely makes the cascade more obvious for debugging CSS issues.

If you have Sass for development, it will need to be part of the zip file, as that is what is stored in the theme repository, so any

[2018-10-16 22:21] LittleBigThing commented on #72
I think one definite pro for this way is simplicity (decisions above options :-)).

I am not sure about what the Impressum is, but isn't that something for a widget area in the footer? #14

Anyway, I just noticed that this is already in the theme, in about the same way... :-)

[2018-10-16 22:23] 00travelgirl00 opened #75 "Tags are not displayed in single post"
If I add a tag to a post, its not displayed in single view or blog view.

I think at least in single view tags should be displayed. But tags are also helpful to display in blog view.

Is this a mistake or on purpose?

[2018-10-16 22:29] melchoyce commented on #45
Could this be accomplished by styling a menu widget to fit well within the footer widget area? (#14)

[2018-10-16 22:30] joyously opened #76 "question: is this touch screen friendly?"
Does this work for touch screens, which have no hover?

https://github.com/WordPress/twentynineteen/blob/7b1170c700b51ccc89479a5552c97102832b2d77/style.css#L1948-L1951

[2018-10-16 22:35] joyously commented on #74
Also `hfeed` class
https://github.com/WordPress/twentynineteen/blob/7b1170c700b51ccc89479a5552c97102832b2d77/style.css#L2211-L2215

[2018-10-16 22:35] 00travelgirl00 commented on #72
Impressum is similar to privacy policy, just different content (contact details and responsibility
of the website and stuff like that and a must have in germany (and I think in EU as well)) and should always be displayed next to privacy policy.

I like the new core function for GDPR and it would be great, that a defined GDPR-Page get displayed automatically in the theme. We just should make it eas

[2018-10-16 22:46] joyously opened #77 "duplicate, more specific CSS"
There is a `Blocks` section in the CSS that has the `entry-content` class at the front of all selectors. Some rules are duplicates of earlier rules, but more specific. Can these rules work without the `entry-content` class or do they need to be that specific?

[2018-10-16 22:49] 00travelgirl00 commented on #14
@melchoyce Yes, that would be an option. Just in my experience, new WordPress User have a hard time to find out how to do that. Because:

1. Create the pages
2. Create an Menu
3. Find the Widget Areas
4. Find the Menu Widget
5. Choosing the created Menu

By using the Footer Menu, the users only have to:

1. Create the pages
2. Create an Menu
3. define the position

it is also easier to have an ove

[2018-10-16 22:50] joyously opened #78 "RTL css separate?"
It is easier to maintain RTL styles if they are in the same file as the other styles. There is also less duplication.

[2018-10-16 22:57] joyously opened #79 "Should static front page show featured image?"
I have my test site set to show a static front Page, and it has a featured image set. The image is not shown. Shouldn't it show?

[2018-10-16 22:59] joyously opened #80 "Can we use a fallback menu?"
This theme is like Twenty Seventeen in that it is not showing any menu when one is not chosen.
This is really bad for a new user. The menu function provides a menu fallback by default, so I think it should be used (use core functionality if it exists).

[2018-10-16 23:02] joyously opened #81 "Comment dates are not using Settings date format"
The dates on comments are shown in relative times, which is not a core option for the date format. This is plugin territory. The date format chosen in Settings should be used.

[2018-10-16 23:04] 00travelgirl00 opened #82 "Color Contrast not high enough"
The color contrast for post details and post navigation does not meet the AA WCAG standards.

The color is #919191, paired with #ffffff the ratio is only 3.15

The font have to be at least 18px to match AA, but I think its better, to make post details and navigation darker. They have to be at least #757575 to match AA with a Ratio of 4.61. (But it still could be darker).

Low Color Contrast #91919

[2018-10-16 23:09] joyously opened #83 "horizontal rule is barely there"
The styles for `<hr>` make the element very short. When I look at the styles, it says
`max-width: 2.25em`
That's tiny and would be very unexpected for legacy content.

[2018-10-16 23:11] 00travelgirl00 commented on #80
I agree! The expected behavior in my opinion would be, that alle published pages are displayed in order by date of publishing. If I want to change that, I can set up an menu.

[2018-10-16 23:12] joyously opened #84 "content chopped off"
Long lines in a `pre` tag are chopped off, probably with overflow hidden on the site-content.
It would be best to have `pre { overflow: auto }`

[2018-10-16 23:19] joyously opened #85 "I do not like the blue images"
Is this going to be a color choice? And a toggle?

[2018-10-16 23:20] bph opened #86 "Related Posts: Alignment & whitespace"
The related post section below the post

- [ ]  isn't aligned with the rest of the content.
- [ ] doesn't leave enough white space between thumbnail and title
![screen shot 2018-10-16 at 7 18 27 pm](https://user-images.githubusercontent.com/39980/47052910-9459e480-d178-11e8-9a36-091d2aedb1f6.png)

[2018-10-16 23:24] joyously opened #87 "Centered captioned images are not centered"
The caption is centered under the image, but the image is not centered in the content.

[2018-10-16 23:30] fabiankaegy commented on #85
I would like the setting to be available in the color section inside the Customizer.

I'm also up for implementing it once @kjellr  or @allancole approve that this is where this setting should go.

[2018-10-16 23:30] joyously commented on #65
Here is how it looks in the comment section:

![image-broken-psuedo](https://user-images.githubusercontent.com/7957680/47053188-7a68d380-d171-11e8-9e0a-e28f969c0f76.jpg)

[2018-10-16 23:33] joyously opened #88 "Where are the print styles?"
There should be at least a little bit of print styles to hide sidebars and menus and other interactive elements.

[2018-10-16 23:42] joyously opened #89 "full content versus excerpts"
Can we make an option to choose full content or excerpts?
Full content is not that good for SEO, and really bad user experience on search page.

[2018-10-16 23:47] mor10 commented on #34
Im fine with that. We should also wire in Stylelint to adhere to WordPress Coding Standards.

[2018-10-16 23:52] joyously opened #90 "<big> is too big"
The `<big>` tag is too big, and is one size only, so nested tags are not bigger. Note how the spacing is all awry.

![big-tag-too-big](https://user-images.githubusercontent.com/7957680/47053836-72f6f980-d174-11e8-96f5-98f0fbab5962.jpg)

[2018-10-16 23:56] audrasjb commented on #78
Hi,
I believe RTL styles are generated by SASS.

[2018-10-17 00:00] carolinan commented on #72
There already is a link to the privacy policy page in footer.php.

[2018-10-17 00:04] audrasjb commented on #45
Oups sorry @melchoyce for the -1 emoji, I am on my mobile and not able to change it for the moment :(((

I agree your solution can work but I'm also wondering if that wouldn't be more easily discorable in menu section since you don't have to 1) create a menu then 2) add it in a widget :)

[2018-10-17 00:04] audrasjb commented on #45
Oups sorry @melchoyce for the -1 emoji, I am on my mobile and not able to change it for the moment :(((

I agree your solution can work but I'm also wondering if that wouldn't be more easily discorable in menu section since you don't have to 1) create a menu then 2) add it in a widget :)

[2018-10-17 00:05] joyously opened #91 "gallery shortcode columns not working"
There are styles for gallery shortcode columns, but it is incorrect.
For 1 column, the images are centered, but the captions are left. There is no space between images with no captions.
For 2 columns, 3 are shown.
For 3 columns, 2 are shown.
For 4 through 9 columns, it looks almost like 1 column, but the images are very far left on 4, a little more right on 5, more right on 6, etc., but all have j

[2018-10-17 00:33] joyously commented on #78
Well, the rtl.css file is empty. And it is still easier to maintain when they are in the same file.

[2018-10-17 00:44] joyously commented on #14
I would like to see a normal sidebar. I really don't like web sites with no sidebars. They feel so dead-ended and static.

[2018-10-17 00:58] amedina opened #94 "Enable AMP Compatibility"
**Feature Request**
Build the theme with opt-in AMP compatibility. This way, users could start with a baseline AMP-compatible 2019 theme and build AMP-compatible sites on top of it. Would love to help with this.

[2018-10-17 01:00] joyously opened #95 "using semantic HTML"
There are `<section>` tags around `<main>` tags sometimes, and other times it is `<div>` tags around `<main>` tags.
This article https://bitsofco.de/sectioning-content-in-html5/ talks about sections having headings, and the recommendation from W3C is

[2018-10-17 01:08] audrasjb commented on #82
Sure thing!
And I guess the issue has been fixed in #57 now 😃

[2018-10-17 01:18] joyously opened #97 "path to template part is wrong"
https://github.com/WordPress/twentynineteen/blob/be850d11ee31434ad700db518ff8570f82e65b9c/search.php#L51
and
https://github.com/WordPress/twentynineteen/blob/be850d11ee31434ad700db518ff8570f82e65b9c/archive.php#L45

reference a template part that does not exist.
It would be better for users if this was not so nested. In order for a child theme to replace a template part, the same directory structu

[2018-10-17 01:56] audrasjb commented on #75
Nice catch!
In #98 I added these in both single and blog view 🎉

[2018-10-17 02:32] audrasjb commented on #63
Nice catch :)
As far as I know, when the text to be quoted itself contains italicized words, the classical method consists in bringing out these words by returning to the ordinary character.

[2018-10-17 02:56] westonruter commented on #94
For reference…

Example for how to add support to _s: https://github.com/Automattic/_s/pull/1286
And WP Rig has opt-in support as well: https://github.com/wprig/wprig#amp-ready

[2018-10-17 03:11] yingles commented on #97
I updated the path to the `content-none.php` file in `search.php` and `archive.php`. Naming is not my forte so I'm not sure of a good alternative for the `template-parts/post` directory.

[2018-10-17 03:22] yingles opened #102 "post-navigation.php does not exist"
The `template-parts/posts/post-navigation.php` file referenced in single.php does not exist.

https://github.com/WordPress/twentynineteen/blob/f0b3e8cdb908aa3cb0a7171dde3c749632c51612/single.php#L56

[2018-10-17 03:30] yingles commented on #102
It seems the call is not needed since the post navigation is called before this line with `the_post_navigation`.

[2018-10-17 03:42] kopepasah opened #103 "Remove Period from Site Description"
Adding a period on the site description within the code is a bit presumptuous of the expected content. A user may choose to end the site description with alternate punctuation or even an emoticon. ❤️❤️

<img width="499" alt="end-with-question-mark" src="https://user-images.githubusercontent.com/911283/47060679-9029d780-d209-11e8-9c9a-6fc27745fe4b.png">
<img width="539" alt="end-with-emoticon" src=

[2018-10-17 04:47] mor10 commented on #70
Somewhat duplicate of #34

[2018-10-17 05:01] dingo-d commented on #67
I'll close this issue then, didn't notice the PR 🙂

[2018-10-17 05:01] #67 closed

[2018-10-17 05:12] ntwb commented on #34
There's a [PR in the Underscores repo](https://github.com/Automattic/_s/pull/1159), we should get updated, merged, then pulled into this repo....

[2018-10-17 06:42] LittleBigThing opened #104 "Styling sticky posts"
Right now, a sticky post is visually not distinguishable from other posts.

Consider adding some specific styling or some kind of label ("featured" as in other default themes, a star (mind accessibility)?, ...) to sticky posts.

[2018-10-17 07:07] LittleBigThing opened #105 "min-height for the img element?"
Currently, there is a `min-height` set for the `img` element using SASS:

[code]

I think there are some problems here:
- it is not clear for me why a min-height is needed
- it should probably not use `calc()` as it results in `calc(3 * 1rem)`in CSS instead of 3rem what is probably meant to happen
- it affects emojis as well:

<img width="624" alt="screenshot 2018-10-17 at 08 51 29" src="https://u

[2018-10-17 08:35] mharis commented on #30
@joyously Performance issues comes with enqueuing multiple stylesheets.

I don't think Sass files bundled within the theme zip file is a huge issue, even dev tooling. Moving towards a modern toolset shows improvement, it's not a crutch for end users. It only improves the overall experience by standardizing and optimizing resources.

[2018-10-17 08:36] mharis commented on #70
There is discussion at #30 as well.

[2018-10-17 08:50] swissspidy commented on #70
I think past default themes have shown that too much tooling only hurts contributors and especially users without technological knowledge who just want to mess with their theme. The hurdles were just too high.

That depends on whether custom blocks are actually planned or not. A default theme should just work out of the box and work with what is there.

If a companion plugin is needed at some poin

[2018-10-17 08:52] swissspidy commented on #30
What can Sass do what you can't do with PostCSS? And which of these features are actually needed for this theme?

[2018-10-17 09:13] ihorvorotnov commented on #70
While I personally prefer doing everything via code (and tooling in this case is unavoidable), the default theme in my opinion must be as simple as possible. It is a theme that newbies and non-techies start to play with, using the built-in code editor first. This theme is built for them first. Advanced users are capable of setting up the tooling of their choice on their own. However, a companion p

[2018-10-17 09:22] dartiss opened #107 "Video embed issues"
I added a couple of YouTube oEmbeds, each set to display as wide in Gutenberg. However, they displayed not even responsive, let alone wide, and with massive spaces beneath them. Example screenshot...

<img width="1644" alt="screenshot 2018-10-17 at 10 12 32" src="https://user-images.githubusercontent.com/14928971/47076264-3d92f000-d1f6-11e8-8fef-2c72c2ee9552.png">

Tested on...
WordPress: 4.9.8
Gu

[2018-10-17 09:29] ihorvorotnov commented on #33
Related: #1 (in some languages, average word length is way bigger than in English).

[2018-10-17 09:29] fabiankaegy commented on #107
How did you add the youtube embed? Did you use the Video block or the HTML Block or the classic editor?

Using the YouTube block I was not able to replicate the issue.

[2018-10-17 09:36] dartiss commented on #107
I've just recreated this again (just to be sure).

I pasted a YouTube URL directly into an empty paragraph block.

[2018-10-17 09:37] dartiss commented on #107
Here's the resulting Gutenberg mark-up if this helps at all...

[code]

[2018-10-17 09:44] fabiankaegy commented on #107
Okay great thanks. Just tested that again and I can't seem to replicate it.

It also looks like Gutenberg itself added the responsiveness to the plugin in 3.9
[https://github.com/WordPress/gutenberg/pull/9500](https://github.com/WordPress/gutenberg/pull/9500 )

Are you sure you're running the latest release of Gutenberg?

If that is the case we might need some more testing.

On my install it looks

[2018-10-17 09:50] fabiankaegy commented on #107
<img width="1920" alt="bildschirmfoto 2018-10-17 um 11 41 25" src="https://user-images.githubusercontent.com/20684594/47078036-a8e2bf00-d202-11e8-9359-31e740ddf965.png">
<img width="1920" alt="bildschirmfoto 2018-10-17 um 11 41 35" src="https://user-images.githubusercontent.com/20684594/47078037-a8e2bf00-d202-11e8-95ad-af89726472a9.png">
Or with wide and full alignment

[2018-10-17 10:07] dartiss commented on #107
Ah. Yes. Another coffee and my memory is working again.

Do you have Jetpack active @fabiankaegy? I think it's related to that (I've seen similar issues with other Gutenberg themes and appears related to a recent change in the way videos are embedded by Gutenberg conflicting with Jetpack embedding).

[2018-10-17 10:41] dartiss commented on #107
I've seen this happen with multiple themes either designed for GB or updated for it - I reported it to both Atomic Blocks and Herald, the former has fixed it with some CSS changes. In both cases it was the spacing issue - I've not come across the odd small, left alignment problem.

[2018-10-17 10:47] dartiss opened #110 "Missing site description"
The site description is not appearing on individual post or pages, only on the main archive list. However, the title and dash is appearing.

Here it is being displayed - https://pento.net

Here is it now missing - https://pento.net/2018/10/04/wordpress-5-0-needs-you/

[2018-10-17 10:57] paaljoachim commented on #30
SASS or CSS is not really the point as I see it.

Bottom line who is the theme created for? Who will likely use it?
What is a core theme mainly used for?

I see core themes as a way to learn best practice used in the general WordPress community with all levels of knowledge.  Are we trying to keep things at the level of beginner, intermediate or advanced? Or perhaps a mix of all of them.

One way i

[2018-10-17 11:12] enodekciw commented on #110
As far as I understand, hiding it on individual post pages is a design decision ([see this](https://github.com/WordPress/twentynineteen/blob/f0b3e8cdb908aa3cb0a7171dde3c749632c51612/template-parts/header/site-branding.php#L11)).

Strange mdash behaviour should be resolved if #19 is merged

[2018-10-17 11:20] audrasjb opened #111 "Handle text overflow on <pre> tags"
Texts inserted via the `code` block are not visible if they overflow their container.
Please add overflow-x property to `<pre>` tag CSS rules :)

[2018-10-17 11:27] nielslange commented on #111
Looks like a duplicate of #84

[2018-10-17 12:18] dartiss commented on #110
That's... odd 🤔Why would you want a reduced branding on the vast majority of the site?

At the very least I think this should be an option in the customizer

[2018-10-17 12:24] #111 closed, assigned to nobody

[2018-10-17 12:39] kjellr commented on #82
Hi @00travelgirl00 — Thanks for the report. As @audrasjb noted, that color was reported in #41 and fixed in #57. Marking this as closed.

[2018-10-17 12:39] #82 closed

[2018-10-17 12:48] asharirfan commented on #24
@nielslange How about changing the separator from comma `,` to a slash `/` and not moving the position of the _Privacy Link_? 🤔

Like this:

Because now it is just sitting at the end like this:

I would love to push a commit, if you want 🙌

Cheers ✌️

[2018-10-17 13:42] carolinan commented on #24
Are forward slashes used as a design element anywhere else in the theme?

Maybe a line more similar to the one used in the header and the navigation, or would that be confusing?
 (The lines would need to be shorter)

[2018-10-17 13:45] fabiankaegy opened #117 "Confusing display of recent posts block - grid view"
In the grid view the comma separation of the menu starts to fall apart.

<img width="876" alt="bildschirmfoto 2018-10-17 um 15 43 38" src="https://user-images.githubusercontent.com/20684594/47090645-9b89fc80-d223-11e8-8c61-7278e9121876.png">

[2018-10-17 13:49] kjellr commented on #117
Yes, this aspect hasn't been truly styled yet. Adding the `needs design` tag for now, someone should feel free to pick it up if they have time.

[2018-10-17 13:58] fabiankaegy commented on #117
<img width="849" alt="bildschirmfoto 2018-10-17 um 15 57 41" src="https://user-images.githubusercontent.com/20684594/47091563-654d7c80-d225-11e8-992a-b336765d64e5.png">
How about something like this?

[2018-10-17 13:58] fabiankaegy commented on #117
Maybe with the text aligned at the bottom of the rectangle?

[2018-10-17 14:15] patilswapnilv commented on #110
I agree with @dartiss . We can have an option in the customizer. Having description would be required in number of instances.

[2018-10-17 14:42] kjellr commented on #117
Something like this could also keep with our text-only aesthetic:

<img width="626" alt="screen shot 2018-10-17 at 10 42 37 am" src="https://user-images.githubusercontent.com/1202812/47094531-649ef100-d1f9-11e8-8985-b249fd471dbb.png">

[2018-10-17 14:47] fabiankaegy commented on #117
I like the bold options but agree that it might be a better user experience to have the content stand out more that additional posts. With the full color background or even the back it might take too much attention away from other elements

[2018-10-17 14:48] briannaorg commented on #91
I'm working on this one.

[2018-10-17 14:53] fabiankaegy opened #118 "Editor Styles for Latest Categories block"
The somehow children get bigger

<img width="542" alt="bildschirmfoto 2018-10-17 um 16 52 00" src="https://user-images.githubusercontent.com/20684594/47095164-fc6a0280-d22c-11e8-8ebc-cba33ed0f3b7.png">

[2018-10-17 14:58] fabiankaegy opened #119 "Editor Styles Latest Posts bullets extend over block outline"
<img width="559" alt="bildschirmfoto 2018-10-17 um 16 57 34" src="https://user-images.githubusercontent.com/20684594/47095525-c0836d00-d22d-11e8-939a-9aa28bb81ca4.png">

[2018-10-17 15:27] LittleBigThing opened #121 "Adjust opacity of filter/overlay layer for IE and Edge"
The blue layer that is set over featured images has a distinct effect and it makes the theme kind of unique (among default themes). However, `mix-blend-mode` that is used to achieve this is not supported by, for example, Internet Explorer and Edge. In these browsers, a blue rectangle is displayed without any transparency: the featured image is not visible at all.

To kind of change this, the opaci

[2018-10-17 15:31] fabiankaegy commented on #121
The customisability was also mentioned in #85. The browser support is a valid point

[2018-10-17 15:37] fabiankaegy commented on #119
This seems to have been fixed by either Gutenberg 4.0 or there was some there issue why the bullets were even displayed in the first place. Can't replicate it.

[2018-10-17 15:37] #119 closed

[2018-10-17 15:50] joyously commented on #107
I noticed that a youtube embed was not responsive. I'm not using Gutenberg.
The video did not have spacing below, but on a narrow window, the video was cut off.

[2018-10-17 15:59] #103 closed

[2018-10-17 16:01] nielslange opened #122 "Align version number with other Twenty themes"
These are the previous themes and their version numbers:

- Twenty Ten: 2.5
- Twenty Eleven: 2.8
- Twenty Twelve: 2.5
- Twenty Thirteen: 2.4
- Twenty Fourteen: 2.2
- Twenty Fifteen: 2.0
- Twenty Sixteen: 1.5
- Twenty Seventeen: 1.7

All themes show major and minor version according to [Semantic Versioning](https://semver.org/). To retain consistency, Twenty Nineteen should not show the patch versi

[2018-10-17 16:13] fabiankaegy commented on #30
How should we go about deciding this. I don't want to rush this decision, but it would be helpful to either include instructions for the build system or start refactoring for just plain css.

And especially with the very short timeline for twenty nineteen in general we probably shouldn't wait too long.

Any thoughts?

[2018-10-17 16:14] Wingo5315 commented on #30
We settle it with a poll.

[2018-10-17 16:16] nielslange commented on #110
+1 for @dartiss explanation. This might lead to some dirty hacks to manually add the tagline on other pages.

[2018-10-17 16:20] kjellr commented on #91
@joyously would you mind providing a screenshot here so we can get a better sense of the issue? Thanks!

[2018-10-17 16:30] kjellr commented on #86
Thanks @bph — I'm going to merge this one into #8 since the fix is related.

[2018-10-17 16:31] #86 closed

[2018-10-17 16:31] kjellr commented on #8
_Merging #86 into this issue for organization's sake_

---

via @bph

The related post section below the post
[ ]  isn't aligned with the rest of the content.
[ ] doesn't leave enough white space between thumbnail and title

![screen shot 2018-10-16 at 7 18 27 pm](https://user-images.githubusercontent.com/39980/47052910-9459e480-d178-11e8-9a36-091d2aedb1f6.png)

[2018-10-17 16:37] nielslange opened #126 "Add Codekit configuration to .gitignore"

[2018-10-17 16:38] kjellr commented on #85
The blue overlay should definitely be a setting — I'll take a look at those PRs later today.

Yes, but I agree that that we should include some sort of contrast check is we do that. Because of the complexities involved in that, it should be a separate PR.

[2018-10-17 16:38] fabiankaegy opened #127 "Left aligned image size different in editor and frontend"
Backend
<img width="1143" alt="bildschirmfoto 2018-10-17 um 18 33 26" src="https://user-images.githubusercontent.com/20684594/47101902-96d14280-d23b-11e8-868a-8c7dfdba7e87.png">

Frontend
<img width="1257" alt="bildschirmfoto 2018-10-17 um 18 33 31" src="https://user-images.githubusercontent.com/20684594/47101903-9769d900-d23b-11e8-9279-d600698009af.png">

[2018-10-17 16:39] dingo-d commented on #70
@nielslange I think that developers at _s are using just node-sass [ref](https://github.com/Automattic/_s/pull/1159/files)

[2018-10-17 16:40] dingo-d commented on #34
I'm more for webpack, since it's already used in core to bundle JS files [ref](https://core.trac.wordpress.org/ticket/40894)

[2018-10-17 16:40] fabiankaegy commented on #85
Great. This one only affects the featured image overlay color

[2018-10-17 16:40] khleomix commented on #87
@kjellr I'll take this up if no one's working on it.

[2018-10-17 16:41] paaljoachim commented on #30
A poll really says nothing. Only personal preference.
Lets look at advantages and disadvantages of both methods and have a closer discussion about it. Perhaps even make a post on make core in regards to getting community feedback.

[2018-10-17 16:43] kjellr commented on #83
The theme actually ships with three `hr` styles, all accessible via Gutenberg block variants:

![screen shot 2018-10-17 at 12 41 40 pm](https://user-images.githubusercontent.com/1202812/47102203-121a0080-d20a-11e8-950e-6d0f80b40db5.png)

For the purpose of preserving the expected visual appearance in legacy content, I'm fine with reverting to the middle version for `hr`s that don't have the `wp-bl

[2018-10-17 16:50] kjellr commented on #79
Yes, it should show the featured image. 👍

[2018-10-17 16:53] briannaorg commented on #91
I've submitted a fix for this - https://github.com/WordPress/twentynineteen/pull/130

[2018-10-17 16:54] kjellr commented on #73
This specific instance is due to the way the Sass files are compiled. I'm going to close for now, as this will be solved one way or another when we align on whether or not to use Sass (and agree on a Sass compiler method, if we go that route).

[2018-10-17 16:54] #73 closed

[2018-10-17 16:55] khleomix commented on #87
caption is not centered in Gutenberg-inserted image.  `.entry-content .wp-block-image figcaption` is overriding `.wp-block-image figcaption`
@kjellr should this be a separate issue? If so, I'll create one for it if it's not yet addressed.

[2018-10-17 16:56] kjellr commented on #72
Agreed — just for clarification's sake: are we discussing something in addition to what's here already?

https://github.com/WordPress/twentynineteen/blob/master/footer.php#L21

[2018-10-17 17:05] joyously commented on #83
That would be a good way to do it.

[2018-10-17 17:06] nielslange commented on #127
@fabiankaegy I can see both left and right aligned images working in the back- end the frontend:

<table>
<tr>
<td>Left align:

![screenshot 2018-10-18 at 00 03 51](https://user-images.githubusercontent.com/3323310/47103426-6b654c80-d269-11e8-9d6a-4cf57e627763.png)
</td>
<td>Right align:

![screenshot 2018-10-18 at 00 03 58](https://user-images.githubusercontent.com/3323310/47103424-6accb600-d269-

[2018-10-17 17:08] joyously commented on #87
I wrote one about having duplicate CSS and too specific selectors.

[2018-10-17 17:10] joyously commented on #30
One more reason not to use Sass: #73

[2018-10-17 17:18] kjellr commented on #63
This is a bug actually. Default block quotes are not supposed to be italic. They're intended to match the default blockquote style you'd see in Gutenberg:

![screen shot 2018-10-17 at 1 13 02 pm](https://user-images.githubusercontent.com/1202812/47104022-7a6ae100-d20e-11e8-845f-d7866b419bd7.png)

[2018-10-17 17:31] kjellr commented on #62
I generally tend to agree, however [Gutenberg does use `px` font sizes](https://github.com/WordPress/gutenberg/blob/286317c8e61b1a2922243875fe1f98c868d7859b/assets/stylesheets/_variables.scss), and we've adopted them here in order to maintain 1:1 font size consistency in the front and backend.

(If someone has another solution, I'd welcome a PR!)

[2018-10-17 17:32] LittleBigThing commented on #72
I think this issue can be closed. I did not realize that the privacy policy link was already there.

The only thing is that the check on the existence of the privacy policy function might be superfluous if the theme would check the WP version (for only 5+).

There are other issues where adding a nav menu and a widget area are being discussed.

[2018-10-17 17:36] kjellr commented on #48
Closing this in favor of #110 because there's more recent discussion there.

[2018-10-17 17:36] #48 closed

[2018-10-17 17:38] joyously commented on #91
Here is what it looked like on my test site
![gallery-test](https://user-images.githubusercontent.com/7957680/47105414-75576300-d209-11e8-8686-2afe79bfa857.jpg)

[2018-10-17 17:42] kjellr commented on #50
In general, `sizes` attributes for full-width images should be handled in Gutenberg. As long as this is covered there, we should be set.

Wide width featured images are another story though- so I'll mark this as a `task` to follow up on.

[2018-10-17 17:43] fabiankaegy commented on #127
Yes I have cases where it works fine. But especially with large Images (7000px ... ) The editor shows like the screenshot and how I would want it. But even with resizing it it shill shows up like this

[2018-10-17 17:49] joyously opened #131 "Post date using relative time"
The date on a post is shown in relative time (3 minutes) instead of the date format chosen by the user in Settings.

[2018-10-17 17:54] joyously commented on #62
If the editor inserts styles for font sizes, that has nothing to do with the theme.
The line quoted is for the `html` tag. This should be 100%, so that the user gets the font size he chose in his browser.
But other references to pixel sizes should not be used. Really, there is not much need to set font sizes except for headings as ems, and `<big>` and `<small>` which should be %.

[2018-10-17 17:59] kjellr commented on #131
Related to #81. Fix will likely be the same.

[2018-10-17 18:02] kjellr commented on #32
Thanks for the feedback. I'll give this some thought this week, and report back with some options and notes. 👍

[2018-10-17 18:06] khleomix commented on #77
this is affecting the caption for Gutenberg-inserted images:
caption is not centered in Gutenberg-inserted image. `.entry-content .wp-block-image figcaption` is overriding `.wp-block-image figcaption`

[2018-10-17 18:06] khleomix commented on #87
@joyously added my comment to your issue for more reference. Thanks.

[2018-10-17 18:18] kjellr commented on #4
I agree with @joyously here — while this would be useful, it unfortunately isn't something that makes sense to incorporate into a single theme for now.

The good news is that it's absolutely possible for this to be worked into Gutenberg (I know of at least one block author who's pursuing it). So a focal point picker could very likely be incorporated into phase two of Gutenberg, when it's able to e

[2018-10-17 18:18] #4 closed

[2018-10-17 18:44] kjellr commented on #127
I was able to reproduce too — but only when using (very) large images.

I'm wondering if this is actually a Gutenberg bug though — I'm able to reproduce in Twenty Seventeen.

Backend:

![screen shot 2018-10-17 at 2 39 21 pm](https://user-images.githubusercontent.com/1202812/47108935-f79c5300-d21a-11e8-8ed8-cddb52e54019.png)

Front end (Twenty Nineteen):

![screen shot 2018-10-17 at 2 39 26 pm](htt

[2018-10-17 18:47] fabiankaegy commented on #131
I will take the issue  👍

[2018-10-17 18:47] #71 closed

[2018-10-17 18:49] chrisblakley commented on #30
I just stumbled across this post and for what my thoughts are worth I would lean towards Sass, but if it requires anything outside of WP Core (including Gutenberg) or the theme itself to compile, then I would put a hard "no" against it. Even if it's super easy for a user to implement a Sass compiler, it is still a non-0 hurdle to get over.

I think WordPress default themes would be a great way to

[2018-10-17 18:50] kjellr commented on #131
@fabiankaegy I think @briannaorg has this one actually, as per [slack](https://wordpress.slack.com/archives/C02RP4VMP/p1539800591000100).

[2018-10-17 18:53] fabiankaegy commented on #131
Oops   👍

[2018-10-17 18:55] kjellr commented on #107
Noting that the Gutenberg team is currently working on making responsive embeds an opt-in for themes:

https://github.com/WordPress/gutenberg/pull/10477

When this is available, we'll certainly opt in to it, and it may solve the issue here.

[2018-10-17 19:03] joyously commented on #127
Did you try it with a theme that has styles in the classic editor?

[2018-10-17 19:04] kjellr commented on #80
Thanks for noting that. I believe Twenty Seventeen shows a fallback menu by default, so Twenty Nineteen to do that as well.

[2018-10-17 19:06] joyously commented on #107
I don't think that's good enough. I don't use Gutenberg and my videos don't look right. The theme should handle it.

[2018-10-17 19:07] briannaorg commented on #131
The date shown on posts is the reading length, not the post date. This is a theme feature, so this issue should be closed, but issue #81 should remain open.

[2018-10-17 19:11] kjellr commented on #117
Closed via #120

[2018-10-17 19:11] #117 closed

[2018-10-17 19:13] kjellr commented on #131
Ah! Good catch, thanks @briannaorg. I'm going to close this one in that case. 👍

[2018-10-17 19:13] #131 closed

[2018-10-17 19:13] joyously commented on #80
Yeah, you might think it does, but it does not. You actually have to add code to make it not have a fallback, so the fix is easy.

[2018-10-17 19:14] joyously commented on #131
It should be labeled then. And the date should be shown somewhere.

[2018-10-17 19:15] mor10 commented on #50
I'll do some testing to see if any issues arise. Earlier versions of Gutenberg were not handling this well, but I know work has been done so hopefully it's a non-issue.

[2018-10-17 19:21] briannaorg commented on #131
Agreed. There's an existing twentynineteen_posted_on function to display post dates that's not being called in any template. There's no specific guideline for displaying post dates, so before I open an issue I'm going to review currently open issues and see if it's being discussed.

[2018-10-17 19:35] fabiankaegy commented on #79
I'll take this one

[2018-10-17 19:37] kjellr commented on #24
@nielslange: Let's just add some empty space to the left of the Privacy Policy link:

![screen shot 2018-10-17 at 3 36 00 pm](https://user-images.githubusercontent.com/1202812/47111778-71840a80-d222-11e8-90f4-e2429c1e5562.png)

You can mirror the spacing used in between post meta in the post footers (I believe it's `1rem`):

![screen shot 2018-10-17 at 3 34 31 pm](https://user-images.githubusercon

[2018-10-17 19:42] colorful-tones commented on #30
CSS (with PostCSS) - so we can write the latest CSS (nesting, variables).

Let’s also keep in mind that minifying into a single file isn’t the best performance. HTTP2 and multiplexing is gaining momentum, which allows us to load many smaller files when we need, and not necessarily everything, all the time, and all at once.

[2018-10-17 19:49] kjellr commented on #72
Ok, thanks for the clarification.

I'm note sure about this, but I do think the current solution works fine as is. We can pursue this in a separate issue if we'd like. Thanks, all!

[2018-10-17 19:49] #72 closed

[2018-10-17 20:04] briannaorg commented on #30
Functionally, we are already using Sass, but without the benefits of additional tooling like Stylelint or PostCSS - as an example, I compiled with a fresh install of node-sass before making a pull request and style.css has been stripped of all quotes, which does not match the master branch.  It would be nice if we had Stylelint or PostCSS handling formatting in a uniform way, as well as documented

[2018-10-17 20:07] briannaorg commented on #30
It would be handy if CONTRIBUTOR.md were updated with instructions for the existing Sass usage (ie, use node-sass, example commands, use X for linting) while this decision is being made).

[2018-10-17 21:19] allancole commented on #80
Hmmm, some good points are mentioned here but how are we sure the “expected behavior” described is actually what our users expect? I know we’ve included an all-pages fallback in some past default themes, but I think taking it out of Twenty Seventeen was the right move, and we shouldn’t go backwards in this theme for a few reasons:

1) Users who don’t want to show a menu at all will be confused as

[2018-10-17 22:19] joyously commented on #80
The function has a default value of using Pages as the fallback.
I think this is a good opportunity to enhance how the default works.
There could be a theme option for empty or Pages fallback.
There could be instructional text to guide the user concerning the default.

I don't think it's very useful to have no menu by default, and it's not backwards to have one. A LOT of themes use the core defaul

[2018-10-17 23:51] joyously opened #139 "Consider changing the reading time calculation to post date instead"
As discovered in #131, what looks like the post date is actually a reading time.
This needs to be removed, as it is plugin territory.

[2018-10-18 00:00] kjellr commented on #79
Closed via #135.

[2018-10-18 00:00] #79 closed

[2018-10-18 00:15] kjellr commented on #139
Adding a screenshot to get us all on the same page:

<img width="1079" alt="screen shot 2018-10-17 at 8 13 48 pm" src="https://user-images.githubusercontent.com/1202812/47123519-609abf80-d249-11e8-82f6-7d48ec49559b.png">

[2018-10-18 00:46] kjellr commented on #139
Thanks for filing this, @joyously.

Personally, I do not object to including the reading time calculation. I find it useful, and this is not a complicated implementation. The exact placement and treatment used here would be hard to achieve without a very specific plugin that targets Twenty Nineteen specifically.

When comparing this Reading Time marker to the ["Plugin Territory"](https://make.word

[2018-10-18 01:05] joyously commented on #139
It doesn't matter if it's complicated or not, it isn't data that is stored in the database, but computed, and that makes it plugin territory. The user should not lose it when switching themes, which he wouldn't if it was in a plugin.

But it does point to how to make the theme easy to modify. I would suggest the theme use `apply_filters()` on the various parts so that they can be changed or added

[2018-10-18 01:42] kjellr commented on #74
I don't see any harm in adding an `entry` class to handle this, instead of `hentry`. Something similar can be worked out for the `hfeed` class too.

For the sake of education though, can you share why `hentry` and `hfeed` shouldn't be styled? I do see that some prior [default themes](https://themes.trac.wordpress.org/browser/twentyfifteen/2.0/style.css#L1601) default themes do apply styles to `hen

[2018-10-18 02:15] frankew commented on #89
Would this be an appropriate use of the ['blog-display' field in Jetpack's Content Options](https://en.support.wordpress.com/customizer/content-options/#blog-display)?

The theme already makes use of content options for 'post-details' and 'featured-images'.

[2018-10-18 04:40] #126 closed

[2018-10-18 04:49] LittleBigThing commented on #105
`calc()` is meant to calculate a mathematical expression in CSS, but mostly useful if the calculation involves different units. For example, `calc(100% - 20px)`. The above is not really a useful expression, except when the variable is a CSS custom property.

[2018-10-18 05:08] nielslange commented on #110
I created #142 to remove the trailing dash from the site title in case the tagline is empty. This fix is independent of the pages. The trailing dash will also disappear on homepage and blog posts page if no tagline had been provided by the user.

[2018-10-18 05:40] nielslange commented on #24
@kjellr I just added the space, as suggested, and committed the change in #115.

[2018-10-18 06:02] LittleBigThing commented on #85
I think that we should first consider browser compatibility and possible fallbacks before implementing this customization. See #121 and #124.

[2018-10-18 07:30] fabiankaegy opened #143 "Add support for submenu items"
I'm not sure how they would fit in this menu but I think it would be sad for a core theme not to include this functionality. At leaset one level deep.
<img width="1920" alt="bildschirmfoto 2018-10-18 um 09 29 56" src="https://user-images.githubusercontent.com/20684594/47137968-624f9c00-d2b8-11e8-923d-0e6392a86853.png">

[2018-10-18 07:38] khleomix commented on #104
@LittleBigThing do you have anything specific in mind with regards to the design of the sticky posts? Twenty Seventeen has a thumb tack icon, Twenty Sixteen and Twenty Fifteen both have the `<span class="sticky-post">Featured</span>`

Are we going to do something similar? @kjellr do we have a design for this? Will take this up.

[2018-10-18 07:44] fabiankaegy commented on #58
This also seems to be fixed in Gutenberg 4.0
<img width="504" alt="bildschirmfoto 2018-10-18 um 09 18 32" src="https://user-images.githubusercontent.com/20684594/47138711-709eb780-d2ba-11e8-82c4-c3e79850ccb8.png">

[2018-10-18 07:44] #58 closed

[2018-10-18 08:05] LittleBigThing commented on #121
An update with examples when appying #124:

![chrome](https://user-images.githubusercontent.com/5901923/47139392-05ee7b80-d2bc-11e8-8bc8-66ffc1a8d474.jpg)
Chrome

![microsoft edge](https://user-images.githubusercontent.com/5901923/47139414-1272d400-d2bc-11e8-9ac4-d14c660e2376.jpg)
Edge

[2018-10-18 08:27] khleomix opened #145 "Image captions in the classic block is not centered"
Image caption for the classic editor is not centered. Needs editor style for classic editor's image caption that will match Gutenberg's image block.

![edit post twentynineteen wordpress](https://user-images.githubusercontent.com/1948204/47140931-1a4d6b00-d2f2-11e8-8b77-71474df39412.png)

[2018-10-18 10:52] LittleBigThing commented on #104
Nothing specific, @khleomix.

- It could be as little as adding the label "Featured" to the entry meta data under the post, maybe with a star as an icon.
- Or adding a larger (star) icon left to the title in the margin (with sufficient attention to a11y), much like to custom logo can be added next to the site title.
- Or &mdash; and I might prefer this option &mdash; style the **first** sticky pos

[2018-10-18 11:38] enodekciw opened #148 "Featured image block is displayed when Homepage is set to 'Your latest post'"
![image](https://user-images.githubusercontent.com/2080743/47151556-bf604780-d2e2-11e8-812a-8b9970e96c73.png)

I think that #135 introduced this strange behaviour and now when I select 'Your latest posts' as a homepage view, it shows this blue block with the title of my last post.

Also, if I set my homepage to 'a static page' then this issue also appears on a page set as a posts page.

![image](h

[2018-10-18 11:39] fabiankaegy opened #149 "Primary color set in Customizer to affect all elements."
I think all the elements that currently use the color `#0073aa` (Blue) should be changed using the Customizer.

### Elements:
### Frontend:
- [x] Featured Image
- [x] Post Thumbnail
- [x] Menu Item
- [ ] Menu Item Hover
- [x] Link Color ?
- [ ] Link Color Hover
- [x] Button Color
- [x] Pullquote left Border
- [x] Post Navigation - Post Title

### Customizer:
- [x] Featured Image
- [x] Post Thumbna

[2018-10-18 11:42] fabiankaegy commented on #149
If that's ok I can take the issue and work on that.

### Question
@kjellr there are some areas, like for example the link / menu Item color that are set using the sass function `darken()`. How should we go about setting those via plain css? Should we add a php function to mirror the behaviour of `darken()`?

[2018-10-18 11:43] fabiankaegy commented on #148
Good catch. Sorry about introducing that error.

[2018-10-18 12:40] fabiankaegy commented on #149
<img width="281" alt="bildschirmfoto 2018-10-18 um 14 38 08" src="https://user-images.githubusercontent.com/20684594/47154756-79f04a00-d2e3-11e8-8df8-f5a6c17aa486.png">
And I believe there either should be some warning message like in Gutenberg when the color doesn't have enough contrast to other elements, or some functionality that for example determines the font color on a button automatically b

[2018-10-18 12:52] kjellr commented on #143
Yes! @allancole and I did not get a chance to implement this in the first draft we pushed up, but we should definitely support submenu items.

Here's the mockup for large screens:

![menu-desktop](https://user-images.githubusercontent.com/1202812/47155364-8ad49780-d2b2-11e8-9c8e-9a20085fa617.png)

I'd love to morph that into something that feels spacious and mobile-native for small screens:

![men

[2018-10-18 12:54] fabiankaegy commented on #143
I really like the design shown in the gif. 👍

[2018-10-18 13:11] kjellr commented on #121
As I noted [in the other thread](
https://github.com/WordPress/twentynineteen/pull/124#issuecomment-431001462), unfortunately adjusting the opacity results in less-accessible text contrast. 😞

I agree that we should come up with a better solution for this though — `mix-blend-mode` is clearly not viable on all browsers at this point.

[2018-10-18 13:15] #24 closed

[2018-10-18 13:19] enodekciw opened #152 "featured image overlays prevent anchor from be clicked"
Steps to reproduce:
- Write a post and set a featured image
- Visit any of the archive pages (blog index, category archive, etc)
- Try clicking on a featured image to go to a specific post

This won't work, because color overlays are "on top" of the anchor and that prevents anchor from being clicked.

[2018-10-18 13:29] killermann commented on #149
I just forked the theme and started working on exactly this, before checking the open issues. Let me know if you want help testing, @fabiankaegy.

[2018-10-18 13:33] fabiankaegy commented on #149
@killermann this is my current state: https://github.com/fabiankaegy/twentynineteen/tree/feature/primary-color-customizer I still need to add the editor styles and the functionality to warn users if there isn't sufficient contrast. Do you want to take up one of these things?

[2018-10-18 13:34] fabiankaegy commented on #149
And I'll open the pull request now so you can just have a look here. I'm happy for all the feedback I can get

[2018-10-18 13:35] #152 closed

[2018-10-18 13:54] #37 closed

[2018-10-18 14:54] joyously commented on #148
The search page was doing this also, when the first post had a featured image. I mentioned that in the PR to clean up the search.

[2018-10-18 14:59] kjellr commented on #148
That's right. @enodekciw can you retest? I think https://github.com/WordPress/twentynineteen/pull/68 may have sorted this one out.

[2018-10-18 15:06] mtomas7 commented on #70
As a non-professional theme developer, I would support this initiative if it would be possible to work only with notepad++ for the folks who do not have the skill/knowledge how to use dev. tools.

That means if Dev-tooling is a nice option for those who can use it and doesn’t impair the ability to play with the theme for beginners.

[2018-10-18 15:10] enodekciw commented on #148
Yup, works fine now.

[2018-10-18 15:10] #148 closed

[2018-10-18 16:05] kjellr commented on #139
Had a good sleep on this, and I agree with you now, @joyously. As we move into phase 2 of Gutenberg, there's even more reason for themes to be purely style-focused. Little bits of functionality like this can (and will) be handled inside of blocks + Gutenberg moving forward.

So yes, let's remove reading time for now. 👍

[2018-10-18 16:13] yingles commented on #139
Just to throw in another argument against, I actually have a reading time plugin on the repo and just got a support request about supporting Hebrew. I haven't delved deep into it yet, but my hunch is that the `str_word_count` function doesn't work well with several languages.

I wanted to bring that up since that's a whole new set of issues to delve into for this functionality in case it works bac

[2018-10-18 16:20] khleomix commented on #104
@LittleBigThing I'll do some mockups tomorrow and we can start from there.

[2018-10-18 16:28] kjellr commented on #80
_Quoting myself from earlier:_

Now that I realize that I was wrong there, I'm going to remove the `task` tag until we reach a decision one way or another.

[2018-10-18 16:32] melchoyce commented on #80
Not having a fallback menu is a feature, not a bug, IMO. I agree with everything @allancole mentioned, which are the primary reasons we didn't include a fallback menu in Twenty Seventeen.

Will Twenty Eighteen come with demo content? I think having a default menu set up would be a better approach.

[2018-10-18 16:43] joyously commented on #80
Uh, Nineteen, Mel.
And do you mean starter content? I think it should. But I also think a fallback menu is better since it works with all sites, not just new ones.

[2018-10-18 16:53] melchoyce commented on #80
Hah, yes, Nineteen! My brain is having trouble skipping a year 😅

[2018-10-18 16:57] aaronjorbin commented on #94
I don't think default themes should contain code designed for a 3rd parties plugin.

[2018-10-18 17:12] westonruter commented on #94
@aaronjorbin Normally I'd agree, but it's a plugin that I work on so I make an exception 😉But Matt did suggest once that the next default theme could be canonical AMP.

Nevertheless, the main problem I see is the hard-coded use of the `is_amp_endpoint()` function in #155. What if instead of that there was a theme-specific filter which any plugin could then hook into to indicate that AMP is the tar

[2018-10-18 17:18] aaronjorbin commented on #94
I do think the theme should do everything in its power to make it easy for plugins to work.  I don't see where `twentynineteen_is_amp` is being used in #155 right now.  Is it not possible for the amp plugin to detect that twentynineteen is the theme and to handle everything it needs in the plugin?

[2018-10-18 17:33] westonruter commented on #94
Yeah, #155 is somewhat premature at the moment. See the pull request for _s which has examples for how this function would be used: https://github.com/Automattic/_s/pull/1286/files?w=1

Most of it boils down to not enqueueing JS when when in AMP and to instead output AMP alternatives to do things like toggling the nav menu.

It's true that the AMP plugin can add AMP compatibility on top of Twenty

[2018-10-18 17:33] joyously commented on #94
Does AMP need the `wp_body_open` action?

[2018-10-18 17:37] westonruter commented on #94
It doesn't require it. At least one component _should_ it be added right after the body, but it isn't mandatory.

[2018-10-18 18:00] dingo-d commented on #70
@mtomas7 Don't be afraid of tooling. They are here to help and advance your knowledge. The point is to have a good documentation if you are using tooling so that you can learn and understand why you are using them 🙂

[2018-10-18 19:10] kjellr opened #164 "Font size variables should resolve to exact pixels."
Currently, most of our font size variables (all set in `em`) don't equate to nicely rounded pixel sizes:

| Variable  | Pixel Size  |
|---|---|
| `$font__size-xs`  |  `15.644px` |
|  `$font__size-sm` |  `19.555px` |
| `$font__size-md`  | `22px`  |
| `$font__size-lg`  | `37.125px`  |
| `$font__size-xl`  | `49.5px`  |
| `$font__size-xxl`  | `61.875px`  |

This can lead to messy half-pixel rendering

[2018-10-18 19:48] briannaorg opened #166 "Display "posted on" date"
As discussed in [#131](https://github.com/WordPress/twentynineteen/issues/131), the post date is not currently being displayed, though there is a function for it in /inc/template-tags.php.

[2018-10-18 21:12] allancole commented on #30
Thanks for all the feedback, everyone. To summarize some of what's been discussed:

CSS:
- Is widely understood, easy to pick up.
- Is traditionally used for themes.
- Does not require a build process — it works out of the box.

Sass:
- Would allow us to more easily share code between multiple stylesheets (`style.css`, `style-editor.css`, etc.).
- Has the benefit of better code organization via pa

[2018-10-18 21:39] joyously commented on #164
Why do they have to go to pixels at all?
If that is a requirement of GB, it needs to be fixed there, not in the theme.

[2018-10-18 21:44] joyously commented on #30
I don't agree with your summary, but oh well.
Does this mean that the zip file I download from GitHub will have the correct CSS?

Once the theme is in the repository, will it still have the Sass files?

[2018-10-18 21:53] colorful-tones commented on #30
Actually, there is a fundamental misunderstanding, because all the reasons you summarize that make Sass beneficial are fully available as CSS with PostCSS.

This is quite disconcerting.

[2018-10-18 22:02] #84 closed

[2018-10-18 22:20] kjellr commented on #164
@joyously I’m just referring to when the text is actually rendered by the browser.

[2018-10-18 23:11] designsimply commented on #43
Adding a screenshot of the 404 page for reference:

![screen shot 2018-10-18 at 5 05 24 pm](https://user-images.githubusercontent.com/1119271/47189232-d5790280-d2f8-11e8-8e6b-1021674722b4.png)
<sup>Seen at http://alittletestblog.com/thispagedoesnotexist running WordPress 4.9.8 and Gutenberg 4.0 using Firefox 62.0.3 on macOS 10.13.6.</sup>

And closing since #68 has been merged.

[2018-10-18 23:11] #43 closed

[2018-10-19 00:04] kjellr opened #171 "Task: Clear TODO comments across all files."
https://github.com/WordPress/twentynineteen/issues/167 introduced a number of linting fixes to help us pass the Travis tests, but it also opened up a number of `TODO`s. These are mostly just file comments that need to be updated, but a few are just a little more complicated than that:

## template-parts/post/discussion-meta.php

- [ ] 4 instances

https://github.com/WordPress/twentynineteen/blob/b

[2018-10-19 00:13] designsimply commented on #131
Note: the decision to remove reading time for now was made in https://github.com/WordPress/twentynineteen/issues/139#issuecomment-431067435 and @briannaorg is working on an update in #168.

[2018-10-19 00:13] designsimply commented on #166
Thank you for the pull request at #168!

I'm closing this issue as a duplicate of #139 so we can consolidate into one issue.

[2018-10-19 00:13] #166 closed

[2018-10-19 00:14] designsimply commented on #139
Thank you for adding screenshots to this issue @kjellr! 😍

[2018-10-19 00:19] ntwb opened #172 "Convert `contributors.md into a table supporting GitHub and WordPress.org usernames"
Ref: https://github.com/WordPress/gutenberg/blob/master/CONTRIBUTORS.md

Unfortunately, not everyone has the same username on GitHub and WordPress.org

As such listing both users usernames for both platforms is beneficial when _props_ time comes around.

#Good-First-Issue

[2018-10-19 00:26] ntwb opened #173 "Update the `.editorconfig` file to use latest from core"
The `.editorconfig` file added in #167 was not the latest version of the file.

It should be updated to the latest from core:

#Good-First-Issue

[2018-10-19 00:32] designsimply commented on #110
Related: #17 (duplicate even?)

[2018-10-19 00:45] emeaguiar commented on #30
Nowadays CSS alone is almost as powerful as Sass, it would be good if developers start to move away from Sass and start using CSS + PostCSS.

It keeps the code clean, understandable. Plus, as mentioned in the comments above, the features mentioned for the use of Sass are already available in CSS, and they're here to stay. So there's really no point anymore.

[2018-10-19 00:59] aaronjorbin commented on #94
I'm wondering if we could do all the things needed for the amp plugin to work without `DOMDocument` as general enhancements to the theme to make it easier to extend for everyone.  This could benefit AMP in that it would demonstrate ways for other people to make a theme that would Just Work™, would make the theme more extendable, and wouldn't put third-party specific code in a default theme.

[2018-10-19 03:12] nielslange commented on #110
Yes, looks pretty duplicated to me, @designsimply. I just closed #142 as #129 is a more elegant solution.

[2018-10-19 03:46] fabiankaegy commented on #149
@allancole would you just add separate controls for the primary and hover color or for each element separately?

[2018-10-19 03:55] eliorivero opened #175 "iframes not centered in content"
### Context

An article originally authored with the classic editor has this Instagram post, embedded using the regular link paste/embed functionality

https://www.instagram.com/p/BkAUuELlveW/?taken-by=eliorivero

### Expected

iframe to be centered

### Result

iframe was positioned towards left

<img width="919" alt="captura de pantalla 2018-10-18 a la s 23 19 23" src="https://user-images.github

[2018-10-19 04:42] carolinan commented on #41
_Featured Images: The alt attribute for featured images is defined in the media manager. In any case where a featured image is displayed, the alt attribute must be included with the image._

In function twentynineteen_post_thumbnail, the user set alt text is replaced with `the_title_attribute.`
It must respect the user setting.

[2018-10-19 05:40] chetansatasiya opened #178 "Phpcs escaping issue"
there are many places where Phpcs is giving the escaping errors.

[2018-10-19 06:35] colorful-tones commented on #30
There is some antiquated misinformation being disseminated. Sass is no longer considered “modern”. Since CSS is capable of nesting, `@imports`, variables.

Also, concatenation and minifying to a single `style.css` is no longer best performance (HTTP2, multiplexing).

I’m not necessarily advocating that TwentyNineteen must have the latest modern tooling, but I _am_ advocating for awareness of what

[2018-10-19 06:52] LittleBigThing opened #181 "make the theme as lightweight as possible"
Lightweight themes can load fast without spending hours optimising them by adding stuff. With WordPress powering over 30% of all websites, a lightweight theme can make a real difference in sustainable web development. With Gutenberg, it will be easier to create richer layouts without using more complicated and often bloated solutions. This default theme could demonstrate best practice on this area

[2018-10-19 08:59] carolinan commented on #41
Also,  a question about the contrast; there are still some blocks and parts of blocks in Gutenberg where the text color has a contrast that is too low. Should the theme include a fix for this? Or do we wait and hope it is fixed in Gutenberg in time.

[2018-10-19 11:08] nielslange commented on #175
@eliorivero I've created #185 to fix this issue. 🤞that it'll get merged soon-ish. 😉

[2018-10-19 12:20] kjellr commented on #41
I think it depends — if it's on the front end, we should absolutely fix it. For issues within the editor, we'll need to evaluate on a case-by-case basis. Some things may be fixed by Gutenberg, but many issues can (and should) be solved by our editor styles. In general, if you see these issues, please go ahead and file bugs for them. 👍

[2018-10-19 12:38] nielslange commented on #15
I just created #186 and added screenshots of the border styles `dotted`, `dashed`, `solid` and `double`.

CC: @melchoyce

[2018-10-19 12:50] kjellr commented on #30
@emeaguiar + @colorful-tones: I thoroughly appreciate the feedback and education you're both offering on this. The awareness you're raising is essential to help bring WP into the future. 🙌

Regarding the decision around Sass, I'd like to note that another important factor that was taken into consideration was time. As you know, the repo was originally built using Sass. Switching away from Sass wou

[2018-10-19 12:58] jeroenrotty opened #187 "Editor styles strange spacing"
Making up a first post while twentynineteen is active, placing a space has like double width until you type a letter. Something is buggy probably in the editor styles.
![image 2018-10-19 at 2 57 21 pm](https://user-images.githubusercontent.com/7323966/47219535-601c3900-d3af-11e8-8318-f8e5b41f3ca7.png)

Too clarify, this is on a local dev with only Gutenberg active, fresh install. Doesn't happen on

[2018-10-19 14:48] #17 closed

[2018-10-19 15:15] brandonpayton commented on #173
Thanks for catching that, @ntwb.

[2018-10-19 15:16] melchoyce commented on #143
One quick note on mobile — there's a bit of cognitive dissonance that happens when you click a down arrow, and the panel comes in from the side. It's a little disorienting at first. Maybe change the direction of the arrow, or the direction the panel comes in from?

[2018-10-19 15:34] kjellr commented on #143
That's a great point. Changing the direction seems like a simple solution, though we could even swap out the icon entirely if we wanted to.

[2018-10-19 15:37] #171 closed

[2018-10-19 15:44] ianbelanger79 commented on #181
- Use just vanilla CSS instead of SASS, as is being discussed in #30

[2018-10-19 15:50] ianbelanger79 commented on #30
Personally, I don't see the benefits of using SASS, outweighing the learning curve for theme developers who are used to plain CSS.

That being said, maybe we could have 2 versions of the theme available:
- One with the stylesheet already complied into style.css, with no SASS files
- Another which has the SASS files un-compiled and all of the necessary tooling needed to compile them

IMO, I would p

[2018-10-19 15:53] eliorivero commented on #175
Thanks @nielslange!

[2018-10-19 16:46] kjellr opened #189 "Add styles for the "Media & Text" Gutenberg Block"
[Coming with Gutenberg 4.1](https://github.com/WordPress/gutenberg/pull/9416)

![screen shot 2018-10-19 at 12 45 41 pm](https://user-images.githubusercontent.com/1202812/47232158-ec713080-d39c-11e8-96d7-c76cd200134a.png)

Will need editor + front end styles. I think we have most of these styles can be borrowed from other blocks (The basic style would be sort of like combining a solid color pullquo

[2018-10-19 17:11] khleomix commented on #104
@LittleBigThing here are some mockups, I do prefer having the first sticky post styled like a single post. We'll probably need to set a default background for those that don't have featured images though...

![starred](https://user-images.githubusercontent.com/1948204/47233353-05153100-d405-11e8-94f9-1e231e20a437.jpg)
![post-meta-featured](https://user-images.githubusercontent.com/1948204/47233354

[2018-10-19 17:21] LittleBigThing commented on #104
Nice, thanks! I like them all and I prefer also the one that is styled as a single post. Although I am wondering if it isn’t confusing havind the other posts below it. Also, we should determine what we would do if there are more sticky posts.

Anyway, we need probably some design feedback, @kjellr?

[2018-10-19 17:40] khleomix commented on #104
@LittleBigThing my thoughts as well, maybe not have it as big? Will have to create another mockup to show this...

But for the most recent sticky post mockup -  it might be too in your face for some (although I do like that it calls that much attention, it just screams "read me!"), the other sticky posts can have a featured tag at the entry footer meta just like what I have added there. Will need

[2018-10-19 17:58] kjellr opened #191 "Make the primary site color customizable."
Currently, our primary blue color (`#0073aa`) is hardcoded into the stylesheet. We need to give people the opportunity to customize it.

Related PRs:
- #113: Adding basic color selection for featured images.
- #149: Expanding the color selection to every instance of the blue.

[2018-10-19 18:04] mmaumio opened #194 "Escaping author display name in get_the_author() in author-info.php"
esc_url() function not being used in author-info.php to escape the output of author display name with get_author_name()

[2018-10-19 18:06] mmaumio commented on #194
#193

[2018-10-19 18:11] kjellr commented on #181
Thanks for the reminder, @LittleBigThing!

These are absolutely great points, and keeping the theme lightweight is an important goal. As you noted, this was the driving force behind the theme's reliance on system fonts (and the fact that we don't — and have no plans to use — jQuery). 🙂 Making use of progressive enhancement and accounting for similar or equivalent functionality across our [supporte

[2018-10-19 18:19] fabiankaegy commented on #191
Just continued working on this. One question regarding @allancole's answer yesterday inside #149 is still open. Should there be separate color pickers for each element or just the primary color and the hover state for links buttons?

[2018-10-19 18:31] designsimply commented on #149
Aha! I spotted a duplicate issue at https://github.com/WordPress/twentynineteen/issues/191 where we didn't catch that this issue was open first, and @fabiankaegy I see that you've asked your question about whether or not to use separate controls for primary and hover colors there already.

Let's consolidate to #191! (but still keep using this thread for the checklist if it's helpful to your own wo

[2018-10-19 18:31] #149 closed

[2018-10-19 18:31] designsimply commented on #85
Closing this issue in favor of consolidating to https://github.com/WordPress/twentynineteen/issues/191 which is marked as a task and also has a clear unbiased title.

Feel free to keep using this issue to hash out ideas and discuss even after it is closed!

One of my goals when helping with triage is to help organize open issues to be more actionable and short when and where I can.

[2018-10-19 18:31] #85 closed

[2018-10-19 18:31] designsimply commented on #191
Closed #85 and #149 in favor of consolidating here. Noting that opacity is covered separately in #121.

[2018-10-19 18:55] mmaumio opened #198 "Fixed audio player overlaping post/page container"
Using self-hosted Audio file with audio shortcode using Media Element js on any post/page overlaps the entire post/page content area.

[2018-10-19 18:56] mmaumio commented on #198
Provided a fix here.
#197

[2018-10-19 19:29] kjellr commented on #105
Fixed via #106. The `calc()` in question was removed, so we can table that for now. 🙂

[2018-10-19 19:29] #105 closed

[2018-10-19 20:32] kjellr opened #200 "Fix display of left/right aligned pullquotes on small screens."
On small screens, left/right aligned pullquotes appear very narrow and extend beyond of the viewport:

![47163168-75b43480-d2c3-11e8-8ab0-da2d045c4edf](https://user-images.githubusercontent.com/1202812/47242310-58af5c80-d3bc-11e8-8556-5f8d6d8668fc.png)

[2018-10-19 20:34] kjellr commented on #198
Adding a screenshot for reference:

![screen shot 2018-10-19 at 4 07 45 pm](https://user-images.githubusercontent.com/1202812/47242500-e55a1a80-d3bc-11e8-91cb-674f56f06afd.png)

[2018-10-19 21:01] mmaumio commented on #198
Thank You @kjellr
I should have added a screenshot with some other details to replicate it though.

Please let me know if it fixes the issue or there's anything else I should take care of here.

[2018-10-19 21:05] LittleBigThing commented on #104
Hi,

As discussed above, see #201 as a proposal to style sticky posts with the label "Featured" and see a screenshot below.

![screenshot featured sticky post](https://user-images.githubusercontent.com/5901923/47243728-4997d100-d3f3-11e8-9e0a-b292b648c546.jpg)

[2018-10-19 21:38] joyously commented on #33
I had to try to figure out what those comma separated words were. Are they a menu? It is so hard to tell. It looks like part of the site description.
This menu definitely needs a better look.

[2018-10-20 00:07] #5 closed

[2018-10-20 01:01] nielslange opened #205 "Improve link styling"
In #186 we've decided to style the links within the content using `text-decoration: underline;` for now. This issue is a working draft for discussions to change this behaviour in the future.

[2018-10-20 01:13] joyously commented on #35
@mor10 Can you think of a way to use one? Since we still have to support IE11, it's difficult without a polyfill, but what if there were a progressive enhancement, such as background-blend-mode or something for modern browsers? If we use a variable there, we don't have to worry about IE11.

[2018-10-20 01:48] #173 closed

[2018-10-20 01:51] joyously opened #207 "readme and version required"
Current usage is that themes do not have a "Requires at least" tag.
There are core tickets open to add it, and also tickets to add a standard readme file to themes (instead of just using style.css headers).
This theme's readme.md has "Requires at least  4.9.8", but it actually only requires 4.9.6 because of  `the_privacy_policy_link()`. Beyond that, it only needs 4.5 for the custom logo.
Is someth

[2018-10-20 02:06] joyously opened #208 "post_thumbnail size assumes large images"
When viewing a post with a small featured image, the CSS causes the browser to upscale the image and it looks jagged and bad. It also takes up way too much space (it's a vertical image).
I think that the CSS should never use width:100% on images, because the CSS can't know what size they are.

[2018-10-20 02:10] joyously opened #209 "page links run together"
The page links are a little close together, so it looks like one number. Perhaps use more space or commas between them?

![page-links](https://user-images.githubusercontent.com/7957680/47250198-3e3ca980-d3e3-11e8-8452-699fea259e77.jpg)

[2018-10-20 02:29] #88 closed

[2018-10-20 02:49] joyously opened #211 "placement of paged comments link"
The placement of the paged comments link is a bit off. It needs the same margin as everything else, and it would make better sense if it were above the comment form.

![paged-comments](https://user-images.githubusercontent.com/7957680/47250564-acd03600-d3e8-11e8-8c47-ba506740da88.jpg)

[2018-10-20 03:03] kjellr commented on #208
For visual reference, here's a screenshot using a tiny 80px by 60px featured image:

<img width="1440" alt="screen shot 2018-10-19 at 11 02 24 pm" src="https://user-images.githubusercontent.com/1202812/47250651-2705b800-d3f3-11e8-882c-f3e109c150e8.png">

[2018-10-20 03:03] philiparthurmoore commented on #29
Is this semi-finalized?

`"Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;`

If so then I'm happy to test Vietnamese.

[2018-10-20 03:07] kjellr commented on #29
@philiparthurmoore: Go for it. 👍

[2018-10-20 08:35] nielslange commented on #208
@joyously & @kjellr On the other hand, having an 80x60 pixel featured image doesn’t look good either. Would it be a better approach to request a minimum height/width for the featured image?

[2018-10-20 11:15] marekhrabe commented on #32
I’d love if there was a choice between the current simple menu and something more standard, think twenty seventeen style. I can see usecases for both of them and it would be a pitty if this was a show-stopper for bigger sites that need more complex navigation.

[2018-10-20 13:52] khleomix opened #213 "Placement of comment user avatar/gravatar is off"
This only happens on posts/pages that don't have comments yet. The comment user avatar's placement is off and covers the top part of the comment form. Happens on both logged out and logged in users.

![comment-logged-out](https://user-images.githubusercontent.com/1948204/47256396-66470e00-d4b2-11e8-9bb1-51cada06a12d.png)
![comment-logged-in](https://user-images.githubusercontent.com/1948204/472563

[2018-10-20 14:37] khleomix commented on #213
@nielslange right, but that rule set is only followed by posts that have comments already. This is superseded by this part from the same file:

[code]

I've tested in firefox, chrome, opera with cache cleared and all show the same issues.

[2018-10-20 14:42] khleomix commented on #213
@nielslange should we really show an avatar before a comment is made though? Twenty Seventeen, Twenty Sixteen, and Twenty Fifteen do not show the avatar for both logged and logged out users. Having an avatar showing for those that aren't logged in is confusing as it will show the default mystery man...

[2018-10-20 14:54] nielslange commented on #213
@khleomix Thanks for reporting this issue. I just created the fix #214. Let's hope it'll get merged soon-ish.

I just saw your reply to my message, which I've already deleted. I found out that Gravatars are hidden if the screen is smaller than 1168px. I should not have deleted my comment but marked it as solved. Sorry in case this caused some confusion. I think it indeed makes sense to hide the Gr

[2018-10-20 15:18] joyously commented on #208
The one I had on my test site wasn't that small, but still it looked bad. And you can't enforce anything for legacy content. You could put a different class on it if it is below a threshold.
When I found this, I disabled the `width:100%` rule and the small image was repeating. It didn't look too bad that way...

[2018-10-20 15:38] khleomix commented on #213
no worries about the comment :)

Also, you might want to look at these screenshots as well... The avatar list is not really working and it looks off... The `discussion-meta-info` with `1 response from 1 other.` is confusing and I don't really get why that is worded that way.

I can create a separate issue for this but since it's all part of the comment avatar functions in this file https://github.

[2018-10-20 16:26] joyously opened #216 "What sort of starter content would work well for this design?"
Is this theme going to supply starter content?
Will it have blocks? Does core support that yet, or is it not necessary for core to do anything different?

One thing it could have is the menu, and the menu could have privacy link.

[2018-10-20 19:44] dimadin opened #218 "Improve discussion label"
In [`/template-parts/post/discussion-meta.php`](https://github.com/WordPress/twentynineteen/blob/4b77b4bb8b0eb8b79ed66a830a5020725785335c/template-parts/post/discussion-meta.php) there is a label below list of avatars. Its code is:

[code]

There are two problems that I see. First, it is confusing since it doesn't seems clear when is what used. Second, there is issue with i18n in the first case. I

[2018-10-20 20:54] dimadin opened #220 "Update PHPCS ruleset"
PHPCS ruleset that was added in d12ed85 is three years old, ported [from](https://github.com/WordPress/twentysixteen/commit/24b6bcb6ab1648edf864b06b43d415a95da5f418#diff-fb9be57a9891d5b859fae14629f8c441) Twenty Sixteen. In the meantime, WPCS got a lot of updates, and this summer got stable version.

[2018-10-20 22:45] mmaumio opened #223 "Fixed product layout broken in search result archives page."
Create few products and search with a keyword to see the product post layout broken.
Screenshot added for reference.
![screenshot 2018-10-21 at 4 42 36 am](https://user-images.githubusercontent.com/3687038/47261210-1dac4680-d4ec-11e8-94db-d72087ffb1c4.png)

Fixed here: #222

[2018-10-21 01:54] joyously commented on #223
Is this just because the margin is not applied for unknown post types?

[2018-10-21 02:08] allancole commented on #213
So the idea behind displaying a commenter avatars list is to try and encourage more discussions. It’s a fairly common pattern, used by Instagram, Medium, and a few others to give visitors a visual hint about who has commented on a post. I’d love to keep this in, but I think you’re right about the wording being unclear. I’d be okay if it were changed to something more common, like a simple comments

[2018-10-21 02:37] allancole commented on #218
I’m starting to think this may be a bit too complex for a Default theme. The wording has been confusing for a few others, and to fix it properly, we’d need to add more conditionals to account for more logged-in vs logged-out states, and change the label even more.

I think I’d be okay if the label simply showed a comment count. See here: https://github.com/WordPress/twentynineteen/issues/213#issue

[2018-10-21 02:47] allancole commented on #223
I think we’ll end up adding an `.entry` class to _all_ post types to deal with this issue and the concerns mentioned here: https://github.com/WordPress/twentynineteen/issues/74

[2018-10-21 04:33] khleomix commented on #213
@allancole I figured that’s where we’re going with the avatar list, it’s not working though and only shows the first commenter’s avatar. It would be great if we can get it to work but the wording needs to change. Maybe have it the same as what is in the entry-header part?

[2018-10-21 07:53] mmaumio commented on #223
@allancole Would you like me to try this?
What I have understood is, we'll remove the hentry class and push an entry class to the post class of every posts regardless of the product or any other custom post type.
Then write the css of "hentry" to the "entry" class.

Is that correct?

Thank You

[2018-10-21 09:15] 00travelgirl00 commented on #6
From a design perspectiv I would prefer the example of @anevins12.

Text-shadow is in my opinion not an elegant design solution. And with invert filter, you can't control die color of text to make sure, that it fits to the Corporate Identity with the website.

[2018-10-21 11:01] mmaumio opened #225 "Comment Author badge misplaced on Tablet and Mobile view"
Here's a screenshot:
![screenshot 2018-10-21 at 4 53 43 pm](https://user-images.githubusercontent.com/3687038/47266049-f472d100-d552-11e8-9f35-d703e482a8c2.png)

I've provided a fix here: #224

[2018-10-21 14:04] joyously commented on #223
Don't add or remove the `hentry` class. _(Well, except that it shouldn't be on Pages, but that might be a different issue.)_
Add `entry` class to all posts.
Change CSS that refers to `hentry` to instead use `entry`.

[2018-10-21 16:39] allancole commented on #213
Yup, I think that’s the best and simplest way forward.

[2018-10-21 17:10] allancole commented on #223
@mmaumio, @joyously is mostly correct.

To clarify:

• Don't add, change or remove the `.hentry` class.
• Use the `add_filter( 'post_class', '...' )` filter to add the `.entry` class to _all_ post-types.
• Change any CSS selectors that use `.hentry` to use `.entry`, instead.

[2018-10-21 17:11] mmaumio commented on #223
That's great.
I'm on it.

Thanks

[2018-10-21 17:33] mmaumio commented on #223
Made the changes recommended.

[2018-10-21 17:59] #175 closed

[2018-10-21 18:03] kjellr commented on #198
Closing via #185

[2018-10-21 18:03] #198 closed

[2018-10-22 07:59] mmaumio commented on #213
I figured out the issue on my end as well and found out the thread eventually.
Attached the screenshot if that helps in anyway.
![screenshot 2018-10-22 at 1 58 11 pm](https://user-images.githubusercontent.com/3687038/47282834-8980d300-d602-11e8-97cf-e45472307c23.png)

Also, I'm sure you are aware that changing the #comments > #respond .comment-user-avatar position from absolute to relative fixes i

[2018-10-22 12:08] #200 closed

[2018-10-22 13:11] LittleBigThing opened #232 "featured image also added as background-image in post lists"
The featured image is displayed in different ways on singular and on index/archive pages.

On singular pages (post and page), it is displayed as a background image, added by the [`twentynineteen_header_featured_image_css`](https://github.com/WordPress/twentynineteen/blob/1d47dac733db1e373929674e5d3eaefc700e961a/inc/template-tags.php#L162) function via [`functions.php`](https://github.com/WordPress

[2018-10-22 13:24] LittleBigThing opened #234 "remove unneeded background featured image"
The theme displays featured images differently on list pages and on singular ones.

On singular page (post and page), a featured image is displayed as a background image. The image is added in [`functions.php`](https://github.com/WordPress/twentynineteen/blob/1d47dac733db1e373929674e5d3eaefc700e961a/functions.php#L142) via the function [`twentynineteen_header_featured_image_css()`](https://github.

[2018-10-22 14:34] kjellr opened #236 "Sync up margins, line-length between frontend and editor"
#22 introduced greater visual consistency between the front and back end. However, it can be improved. We should take another pass at making sure both the editor and front end render line-lengths and margins similarly across common breakpoints.

**Current state:**

![artboard 0](https://user-images.githubusercontent.com/1202812/47298468-defab700-d5e5-11e8-9acd-504ea56b5092.png)

![artboard 1](http

[2018-10-22 16:11] #207 closed

[2018-10-22 16:31] khleomix opened #238 "Discussion Avatar List not consistent on logged in and logged out views"
The discussion avatar list is not showing the logged in user's avatar and comment is not counted as well. It should follow the logged out view where it shows the post author's avatar and comment count showing the correct count as well.

Logged in view:
![avatar-list-loggedin](https://user-images.githubusercontent.com/1948204/47304955-a648f500-d65a-11e8-8ea1-2c32ea8f40b2.png)

Logged out view:
![av

[2018-10-22 16:44] kjellr commented on #32
Thanks for the feedback, everyone. We've heard this feedback in a few places. I'd like to share an iteration that should hopefully help allay the concerns raised above, and also touch on some related issues raised in #33 and #1.

This thread doesn't have a screenshot of the current menu, so here it is for comparison's sake:

![current-menu](https://user-images.githubusercontent.com/1202812/4730397

[2018-10-22 16:51] kjellr commented on #234
Closed via #233

[2018-10-22 16:51] #234 closed

[2018-10-22 17:00] joyously commented on #32
That is _so_ much better!

[2018-10-22 17:12] Wingo5315 commented on #32
This looks a lot better! Thank you @kjellr!

[2018-10-22 17:44] kjellr commented on #232
Duplicate of #234. (Likely related to GitHub's oddities today. 🙂)

[2018-10-22 17:44] #232 closed

[2018-10-22 20:02] LittleBigThing commented on #232
Indeed, I wrote that explanation at least twice... :-)
Thanks!

[2018-10-23 00:14] nielslange commented on #209
@joyously and @kjellr How have you been able to see the pagination including the label _Pages_? This is what I see when looking up the pagination on the blog posts page:

<table>
<tr>
<td valign="top">iPhone X:

![209 - before iphone x](https://user-images.githubusercontent.com/3323310/47326446-022f7000-d693-11e8-9ed0-ed7141b942f1.png)</td>
<td valign="top">iPad:

![209 - before ipad](https://user

[2018-10-23 00:17] kjellr commented on #209
@nielslange: In Gutenberg,  try adding a `pagination`  block within a post to see this pagination.

[2018-10-23 01:48] celloexpressions commented on #121
Could this fall back to an `rgba` or `hsla` color? That may offer better results than `opacity`. It could also be treated only as a fallback for browsers that don't support `mix-blend-mode` if the results are reasonably similar.

[2018-10-23 02:07] celloexpressions commented on #191
One of the challenges with custom theme colors historically is ensuring that colors have adequate contrast. [The plugin](https://wordpress.org/plugins/fourteen-colors/) that allows color customization for Twenty Fourteen uses [this approach](https://celloexpressions.com/blog/a-strategy-for-custom-colors-in-the-customizer/) to automatically check and adjust contrast. Twenty Seventeen uses a hue pic

[2018-10-23 02:10] celloexpressions commented on #216
Starter content is a relatively new feature in core, dating to WordPress 4.7. As a relatively new feature, and given that bundled themes should be "state of the art," it seems like a mandatory element of Twenty Nineteen. We should also consider the goal of starter content to improve the new user experience with fresh installations of WordPress. Leaving this out of Twenty Nineteen would be a regres

[2018-10-23 02:39] celloexpressions opened #243 "Support Custom Headers and Video Headers?"
Let's consider adding support for custom headers. If we do, we could also support video headers.

The custom header could be off by default. Or, it could be on and include a compelling default image that ships with the theme. When used, it would match the display of featured images on single pages and posts (with the blue overlay). Perhaps it could be disabled in lieu of the featured image when a

[2018-10-23 05:08] LittleBigThing commented on #121
Using an rgba color gives the same results since it is about the opacity of another layer than the layer that contains the text.

Opacity
![screenshot 2018-10-23 at 06 55 10](https://user-images.githubusercontent.com/5901923/47336807-681af800-d691-11e8-9981-ab83f2131358.jpg)

rgba color
![screenshot 2018-10-23 at 06 54 08](https://user-images.githubusercontent.com/5901923/47336820-6fda9c80-d691-11

[2018-10-23 05:45] nielslange commented on #34
@mor10 I assume this issue can be closed now that #169 got merged, correct?

[2018-10-23 05:46] nielslange commented on #31
@nickcernis I assume this issue can be closed now that #169 got merged, correct?

[2018-10-23 05:48] nielslange commented on #78
@joyously I assume this issue can be closed now that #169 got merged, correct? With #169 the RTL CSS also gets created on the fly.

[2018-10-23 05:54] nielslange commented on #90
@kjellr or @allancole Can one of your close all merged issues, to retain an overview of the open issues? If needed, I'm happy to go through all issues and provide a list of merged issues. 😉

[2018-10-23 05:55] nielslange commented on #209
Thanks, @kjellr! I'll check that later!

[2018-10-23 09:38] nielslange commented on #45
@audrasjb In the WP.com support we received several requests on how to add additional links behind the “Privacy Policy” link. Thus, I would say having a footer menu, in addition to the footer widget section, make sense. I’m happy to implement this later and create a PR.

[2018-10-23 09:41] nielslange commented on #32
Happy to implement this later and create a PR. 😉

[2018-10-23 10:13] audrasjb opened #245 "Doctype must be be the very first thing in the HTML document"
The <!DOCTYPE> declaration must be the very first thing in your HTML document, before the <html> tag.
Source: https://www.w3schools.com/tags/tag_doctype.asp

[2018-10-23 11:09] LittleBigThing commented on #121
For what it's worth... :-)

This is the highest similarity I get when adjusting opacity and background color for browsers that do not support `mix-blend-mode`:
Tweak 1
- I changed the opacity for the third layer from 1 to 0.8
- I changed the background color for the fourth layer from rgba(255, 255, 255, 0.35) to rgba(0, 0, 0, 0.35).

Tweak 2
- I changed the opacity for the third layer from 1 to 0.

[2018-10-23 11:39] robeyl opened #247 "Links placed in Social Menu Area to open in new tab."
I quite like how the menu items in the Social Menu area automatically get their icons based on the URL, but they should also open in a new tab by default IMO.

Not sure how easy that is to do based off their Menu Area, but it's what I would expect to happen when clicking an external link, which these would be in 99% of cases.

[2018-10-23 11:46] psaikali commented on #247
Not sure about this. IMHO this is already a core logic that could (or could not) be set by user:

[ie](http://media.mosaika.fr/295fc20631e7/%255B04a908ee980b86d2773bc36e7426ee41%255D_Capture%2525202018-10-23%252520a%2525CC%252580%25252013.44.19.jpg)

But I do agree that the automagic-social-icon based on the menu item URL is super neat 👍 !

[2018-10-23 11:52] robeyl commented on #247
Yeah, but first you have to know to look in the hidden 'Screen Options' tab to enable that tickbox.

[2018-10-23 12:00] psaikali commented on #247
Indeed, but that is not the theme responsibility to force that kind of setting. I might be wrong though!

[2018-10-23 12:28] kjellr commented on #247
I agree with @psaikali here. Though this would generally make sense for social links, it doesn't quite make sense to implement on the theme level. Going to close for now, but we can always re-open in the future, so feel free to keep discussing.

[2018-10-23 12:28] #247 closed

[2018-10-23 12:34] #245 closed

[2018-10-23 12:37] kjellr commented on #104
Closed via #201

[2018-10-23 12:37] #104 closed

[2018-10-23 12:42] kjellr commented on #243
There's an open PR to add custom header support (#133), but there's no issue for it, so this one can serve that purpose. 🙂

Video headers could be a nice enhancement, but I'd consider that somewhat low priority while we focus on tailoring the theme to current Gutenberg functionality. If someone would like to open a PR using code ported over from Twenty Seventeen though, I'll happily review and we

[2018-10-23 12:43] #75 closed

[2018-10-23 12:46] kjellr commented on #187
@jeroenrotty — I gave this a try today and was unable to reproduce. 🤔

![screen shot 2018-10-23 at 8 45 06 am](https://user-images.githubusercontent.com/1202812/47361472-044bfb80-d6a0-11e8-9d5a-f80558d91360.png)

Can you share what browser and operating system you're seeing this with? Thanks!

[2018-10-23 13:11] nickcernis commented on #31
@nielslange Yes, that looks good — closing. Thanks for checking in!

[2018-10-23 13:11] #31 closed

[2018-10-23 13:12] psaikali opened #248 "Unused ie-theme stylesheet"
On every page load, I noticed unnecessary calls to an unexisting CSS `/css/ie.css` file resulting in 404.

https://github.com/WordPress/twentynineteen/blob/bf8eabe5c8965237deda50635abbeb80ece96df4/functions.php#L138

Is there a specific reason for that?

[2018-10-23 13:20] kjellr commented on #145
Fixed via #161

[2018-10-23 13:20] #145 closed

[2018-10-23 13:31] kjellr commented on #32
🙌 Sounds great, thanks @nielslange!

[2018-10-23 13:34] kjellr commented on #90
@nielslange Thanks! I'll do a quick scrub of these today.

This particular one is closed via #137.

[2018-10-23 13:34] #90 closed

[2018-10-23 13:56] #248 closed

[2018-10-23 14:11] nielslange commented on #90
Thank, @kjellr!

[2018-10-23 14:56] kjellr commented on #139
Closed via #168

[2018-10-23 14:56] #139 closed

[2018-10-23 14:58] joyously commented on #209
It's not pagination on the blog, it's page links in a post or page, which is generated from the `` tag by the theme.

[2018-10-23 14:59] kjellr commented on #91
Fixed via https://github.com/WordPress/twentynineteen/commit/918a410b23d8342a0740f5e17506b8bea770ef75

[2018-10-23 15:08] joyously commented on #78
No, it's still a question about what's the most maintainable approach.
One way you have the RTL style in the same file, following the normal CSS. It is obvious as things are changed that the RTL should be considered as well.
The other way you have the RTL style in a different file, and the developer has to remember to check if changes affect it. There is also more code to check for RTL and load th

[2018-10-23 15:09] nielslange commented on #209
Thanks for the additional info, @joyously. I'm already on it. 😉

[2018-10-23 17:09] DannyCooper opened #256 "Add archive descriptions"
If https://github.com/WordPress/twentynineteen/pull/255 is merged, then there will need to be a discussion on adding archive descriptions and the design of them.

Archive descriptions are currently filtered so they don't show.

https://github.com/WordPress/twentynineteen/blob/d49b0986cf292c1c3f3a21c36b93814d394fdd36/inc/template-functions.php#L107

[2018-10-23 17:20] richsalvucci commented on #187
I can replicate with Chrome 69 and Mac OS Sierra 10.12.6. I would type a word, hit the space bar and then it would jump back after I resumed typing. I also tested with Fire Fox 62 and the issue was not happening.

[2018-10-23 17:33] DannyCooper opened #257 "style-rtl.css is a clone of style.css"
Usually the RTL stylesheet only includes the code required to overwrite the specific elements that display differently.

example: https://github.com/WordPress/twentyseventeen/blob/master/rtl.css

[2018-10-23 17:50] kjellr commented on #187
Ah, I can see it in Chrome 69, too:

![space](https://user-images.githubusercontent.com/1202812/47379933-47bb5f80-d6ca-11e8-9764-168175062e23.gif)

This is an odd one. When you insert a space, the editor adds `&nbsp;` to the end of your line. My guess is that for some reason, that non breaking space is styled too be wider than the rest of the spaces in the sentence. We'll need to do some digging t

[2018-10-23 18:12] grappler commented on #257
Not always. It may be performance wise be better just to load one file with all of the styles `style-rtl.css` instead of loading `style.css` and then the `style-rtl.css` to override the changes.

[2018-10-23 18:18] grappler commented on #78
I find the current method the best way.

If the site is RTL then only the `style-rtl.css` will loaded not both. This is done by adding this line of code `wp_style_add_data( 'twentynineteen-style', 'rtl', 'replace' );`

[2018-10-23 18:48] DannyCooper commented on #257
Closing as @allancole explained:

“To clear this up a bit, the defaults themes have a separate RTL file but it only includes _overriding_ styles and has to be loaded in addition to `style.css` which isn’t always great for page load speed.

We could add all the RTL styles to the main `style.css` stylesheet but this also isn’t good for speed because were loading RTL styles when we don’t actually nee

[2018-10-23 18:48] #257 closed

[2018-10-23 19:01] jeroenrotty commented on #187
@kjellr I'm using the latest OSX and latest Chrome (both stable)

[2018-10-23 21:18] LittleBigThing commented on #191
Just referencing my thoughts here, to make it part of the discussion: https://github.com/WordPress/twentynineteen/pull/113#issuecomment-432421717

[2018-10-23 22:14] joyously opened #258 "Add a sidebar"
I mentioned it in another issue, but most people like sidebars to put ads, calls to action, shopping carts, and a bunch of other stuff. A page without a sidebar feels like a dead end, and a site without them feels even worse. I once developed a theme mimicing one I had seen and it had no sidebars. I had a hard time testing everything because it was so dead-ended.

Widget areas in the footer are no

[2018-10-24 06:43] Nikschavan commented on #220
Here are some changes that can be considered -

- It should be checked if the [excluded rules](https://github.com/WordPress/twentynineteen/blob/master/phpcs.xml.dist#L11-L19) really need to be excluded. Most of these seem related to indentation and phpDoc.
- Setting up WordPress and the database does not seemt to be required as no PHPunit or database interaction is used. [link](https://github.com/

[2018-10-24 09:33] nielslange commented on #14
@kjellr It looks like the footer widget area issue would be solved with @fabiankaegy's PR #61, wouldn't it?

[2018-10-24 09:56] 00travelgirl00 commented on #247
Please don't open links in new tabs by defailt, as it is not accessible. Please read also the A11y-Handbook for this: https://make.wordpress.org/accessibility/handbook/content/link-destinations/

[2018-10-24 10:06] 00travelgirl00 commented on #258
I agree. Cause it is a default Theme, we should give the user the option to use a sidebar, or to style the pages and posts without a sidebar.

I think it still would be a good idea to also have at least one widget area in the footer.

[2018-10-24 11:49] fabiankaegy commented on #14
@nielslange I believe the problem is that I haven’t gotten around to adding styles for the core widgets jet. So if someone wants to take that up they are welcome to do so. At the moment I’m working on getting #113 done.

[2018-10-24 12:00] nielslange commented on #14
@fabiankaegy Thanks for your reply. I'll take over this issue then. ;)

[2018-10-24 12:03] nielslange commented on #258
@00travelgirl00 I've analysed how to implement a sidebar earlier today and, unfortunately, it's not trivial, as the Twenty Nineteen theme does not use any centred container, but all elements are positioned using margins. This makes the implementation of a sidebar a bit more challenging, but not impossible.

Implementing the widget area, as mentioned in #14, is already in progress though. 😉

[2018-10-24 13:11] kjellr commented on #14
Thanks, @fabiankaegy + @nielslange for your progress on these issues!

[2018-10-24 13:30] nielslange commented on #32
@kjellr In #263 I've implemented this issue partially. Unfortunately, I haven't been able to implement the priority+ navigation pattern as [mentioned by you](https://github.com/WordPress/twentynineteen/issues/32#issuecomment-431892606). While I found several CSS and JS based solutions, I wasn't able to get one of them working.To avoid going down the rabbit hole, I've wrapped up and created the cle

[2018-10-24 14:10] ianbelanger79 opened #264 "IE 11: Images not constrained to content area"
In IE11, when large images are added to a post/page and an alignment of `alignleft`, `alignright` or `aligncenter` is selected, the images are not constrained by the viewport. See screenshots below

Chrome
![centered-image-chrome](https://user-images.githubusercontent.com/34601694/47435975-940eaa00-d773-11e8-9310-25aa0da2857e.PNG)

IE11
![centered-image-ie11](https://user-images.githubusercontent.

[2018-10-24 14:28] afercia opened #265 "All the SVG icons need s focusable="false" attribute for IE11"
See related issue / PR for Gutenberg

https://github.com/WordPress/gutenberg/issues/1578
https://github.com/WordPress/gutenberg/pull/2590

And following issues
https://github.com/WordPress/gutenberg/issues/5247
https://github.com/WordPress/gutenberg/issues/9269

In a few words:
IE 11 suffers from a bug where all SVG icons `inside focusable elements` default to `focusable=”true”`. As a consequence,

[2018-10-24 14:29] kjellr commented on #258
With Gutenberg, users can add the sorts of rich content, CTAs, and widgets that typically lived in sidebars directly into the body of the page. This was possible before, but it required the technical knowledge of shortcodes or HTML, and was not easily discoverable. Gutenberg greatly improves on this, and gives users much greater control over the exact placement of items on their page.

To fully em

[2018-10-24 14:35] afercia opened #266 "Main navigation menu not fully operable with a keyboard"
In Twenty Seventeen, it is possible to navigate the main menu with a keyboard tabbing in both directions. Pressing `tab` navigates through all the menu items, pressing `shift+tab` navigates through all the menu items in reverse order.

As far as I see, in Twenty Nineteen navigating forwards allows to go through all the menu items, including all the sub-items.

Instead, when navigating backwards, t

[2018-10-24 14:36] #32 closed

[2018-10-24 14:44] afercia opened #267 "Consider to remove the SVG icons ID attribute"
Not sure if the `id` attribute output in the SVG icons markup is necessary for some reason. If not necessary, I'd like to suggest to remove it as it produces duplicate IDs in the same page (and invalid HTML).

For example, all the top level items in the main navigation menu have a `arrow_drop_down_circle` icon, so there are multiple `<svg id="ui-icon-arrow_drop_down_circle" ... ` in the page.

Sam

[2018-10-24 14:44] kjellr opened #268 "Implement priority+ navigation pattern for main menu"
As introduced in #32:

https://css-tricks.com/the-priority-navigation-pattern/) navigation pattern to help account for cases where there are very-long menus and menu items. This is also useful on mobile, where it becomes a slightly more efficient version of the usual ["hamburger"](
https://en.wikipedia.org/wiki/Hamburger_button) menu: rather than hide all menu items by default, it allows users to

[2018-10-24 14:45] kjellr commented on #32
Sounds good, thanks @nielslange — I've opened #268 to track the priority+ navigation work.

[2018-10-24 14:46] kjellr commented on #33
Closing this via #263, which removes the commas.

[2018-10-24 14:46] #33 closed

[2018-10-24 14:47] joyously commented on #264
The style mentioned above could be the reason that the alignleft and alignright had a display property, which we have removed. I suggest that this `display: table` property is overridden, rather than adding the display property back, because of all the legacy alignleft and alignright styles that would be affected (which is why we removed it).

[2018-10-24 14:48] kjellr commented on #267
Good catch. I don't think it's necessary either — I don't believe we use those IDs anywhere.

[2018-10-24 14:57] ianbelanger79 opened #269 "IE11: Cover Image text not vertically centered"
In IE11, when using `aligncenter`, `alignfull` or `alignwide` on a Cover Image with text, the text is not vertically centered over the image.

**Chrome Align Center**
![centered-cover-image-chrome](https://user-images.githubusercontent.com/34601694/47439578-9f190880-d77a-11e8-8d80-095ed16c1fe4.PNG)

**IE11 Align Center**
![centered-cover-image-ie11](https://user-images.githubusercontent.com/346016

[2018-10-24 14:58] nielslange commented on #32
Thanks, @kjellr!

[2018-10-24 14:58] joyously commented on #258
Having to add things in individual pages is _not_ the same thing as putting navigation, CTAs, feeds, and other useful things in a sidebar that appears on every page.
Most themes do _not_ hide sidebars on mobile. Most show them after the content, which is where the widget area for this theme already is. Footer widget areas are nice, but not very useful.
Also, this theme is for the current state of

[2018-10-24 14:59] afercia opened #270 "Remove the `aria-expanded` attribute from the menu"
The `aria-expanded` is a _state_, not a property, and it's meant to communicate a change in the state:

https://www.w3.org/TR/wai-aria-1.1/#aria-expanded

As far as I see, in Twenty Nineteen `aria-expanded` is never updated and it's always `false`. As such, it gives an incorrect information to assistive technology users. For example, when a menu tree is open, it's still announced as "collapsed":

[2018-10-24 15:11] rpkoller commented on #258
And on a side note from my understanding a sidebar is a requirement listed in the themes handbook: https://make.wordpress.org/themes/handbook/review/required/

[2018-10-24 15:12] kjellr commented on #269
Thanks for reporting. This issue is actually independent of the theme. Here it is without Twenty Nineteen active:

![screen shot 2018-10-24 at 11 09 18 am](https://user-images.githubusercontent.com/1202812/47441028-59117400-d77d-11e8-95d2-427eec3a3325.png)

Here's the issue for tracking in Gutenberg:

https://github.com/WordPress/gutenberg/issues/5791

I'm going to close this one, but also leave a

[2018-10-24 15:12] #269 closed

[2018-10-24 15:17] westonruter commented on #266
Which browser(s) was this observed in?

[2018-10-24 15:21] kjellr commented on #267
Closed via #271

[2018-10-24 15:21] #267 closed

[2018-10-24 15:35] kjellr commented on #258
@rpkoller The handbook seems to define a sidebar as "any widgetized area of your theme", which we do plan to add in #14.

[2018-10-24 15:40] kjellr commented on #265
@afercia This should be handled via #272. Would you mind testing that out to verify that this change removes that tab stop?

Thanks!

[2018-10-24 15:41] joyously commented on #258
@rpkoller No, not required. But very useful.

[2018-10-24 16:19] afercia opened #276 "Consider to improve the comment author info accessibility"
When a comment author has filled in the website info, Twenty Nineteen makes the avatar a link to the comment author website. However, the only content of the link is the avatar image with an empty alt attribute `alt=""`. It's basically an empty link and there's no meaningful information assistive technologies (and search engines crawlers) can use for the link other then the link URL.

Screen reade

[2018-10-24 16:40] kjellr commented on #256
I suggest we rework that area to include descriptions like so:

<img width="609" alt="screen shot 2018-10-24 at 12 37 11 pm" src="https://user-images.githubusercontent.com/1202812/47446596-8e23c380-d789-11e8-9936-06acaa3a887d.png">

This mimics the header text hierarchy a bit.

- `Category Archives` label becomes `display: block`, takes on our small gray system text style (as used in post meta)
-

[2018-10-24 16:40] afercia opened #277 "Links in the content don't have a focus style"
As far as I see, links within the post content don't have any focus style. Indication of focus must always be clear and predictable for all users.

[2018-10-24 16:59] afercia opened #278 "Hoefler Text font text underline on mac barely visible in Firefox and Safari"
Fonts have internal metrics that may be rendered differently by different font rendering engines on different browsers and operating systems. On macOS, the actual font picked up from the font stack is "Hoefler Text".

Seems the text underline, which is of fundamental importance to distinguish links from normal text, is comfortably visible in Chrome and Opera but it's barely visible in Firefox and

[2018-10-24 17:09] khleomix opened #279 "Author description is unstyled"
The author description block will only show if there's a bio info added for the author - that works well enough, but the output is unstyled and looks like this:

![author-description-current](https://user-images.githubusercontent.com/1948204/47448417-8ba98400-d7f2-11e8-8605-756b7c407683.png)

@kjellr do we have a design mockup for this? If so, can we do something like this? I'm not 100% with the b

[2018-10-24 17:39] afercia commented on #265
@kjellr it does fix it thanks! 🎉

[2018-10-24 17:43] afercia commented on #266
All of them. Really not a browsers issue.

[2018-10-24 18:05] kjellr commented on #258
Since we have no current plans to add a sidebar as per my notes above, I'm going to go ahead and close this. Feel free to continue discussing in here — we can always reopen issues if needed.

[2018-10-24 18:05] #258 closed

[2018-10-24 18:12] kjellr opened #280 "Implement mobile menu styles and functionality"
#192 added base support for submenu items.  also proposed an approach for treating the submenu on smaller screens. We still need to build in full-screen styles for the submenus on small screens, and also the (likely JS-powered) close and back buttons necessary on the mobile equivalents of these menus.

(Related to #268, which is to implement the priority+ navigation in JS)

_Comps:_

![47155399-a0

[2018-10-24 18:12] kjellr commented on #143
I'm going to close this issue, since submenu support has been added. #280 has been opened to implement submenu mobile styles.

[2018-10-24 18:13] #143 closed

[2018-10-24 18:29] kjellr opened #281 "Consider syncing up font smoothing between the front end and Gutenberg"
Currently, the front end of the site implements font smoothing via the following rules:

[code]

These rules do not exist in the Gutenberg editor. This leads to a much heavier display of text in the editor than in the front end:

_Front End_
![screen shot 2018-10-24 at 2 23 02 pm](https://user-images.githubusercontent.com/1202812/47452606-ab13c300-d798-11e8-8ff0-01b6eae273e7.png)

_Gutenberg_
![sc

[2018-10-24 18:30] kjellr commented on #278
Related to possible enhancements in #205.

[2018-10-24 18:47] afercia opened #282 "Navigation sub-menu width broken after #263"
Seems to me the CSS property `max-content` introduced in https://github.com/WordPress/twentynineteen/pull/263 broke the layout of the sub-menus, see screenshot below (from Chrome on macOS):

![screen shot 2018-10-24 at 20 40 46](https://user-images.githubusercontent.com/1682452/47453657-99004780-d7cd-11e8-97aa-6996abf8d157.png)

I see the same on all browsers, on Windows too. Also, to my knowledge

[2018-10-24 18:50] afercia commented on #282
Forgot to mention that any style applied on `:hover` should be applied also on `:focus` otherwise there's the risk the width of the sub-menu will break when using a keyboard to navigate.

[2018-10-24 18:56] kjellr commented on #282
Good catch. We'll need to fix. I'm not positive we need `max-content` there, but if we continue using it we'll need a fallback too.

[2018-10-24 18:58] #265 closed

[2018-10-24 18:59] kjellr commented on #265
Awesome, thank you!

[2018-10-24 19:05] allancole commented on #279
Looking into what went wrong here @khleomix. I think the styles were mistakenly removed in a Jetpack related PR. Just need to add those same styles back and add a conditional, so it works like `2016` where users can optionally hide their author bio (like `twentysixteen` ).

Working on a PR for it now.

[2018-10-24 19:10] khleomix commented on #279
@allancole thanks for the update. Will test once fixed.

[2018-10-24 19:45] WPprodigy commented on #238
I'm not so sure this is a bug / unintended. The language is "X responses from X others", so it leaves out the currently-logged in user's count on purpose.

This can be seen in `twentynineteen_get_discussion_data()`: https://github.com/WordPress/twentynineteen/blob/7eb93d5f79eedb168f72ccfeddbfcf6f0f129875/inc/template-functions.php#L150

[2018-10-24 20:09] kjellr commented on #121
Thank you for all your research on this, @LittleBigThing!

I took a look this afternoon, and tweak 1 above appears to be a good balance of maintaining the current appearance while maintaining similar support in other browsers. Lets move forward with that direction.

I just did a quick preliminary check, and both of these result in WCAG AA-passing color contrast for all the text sitting on top. (Th

[2018-10-24 20:24] kjellr opened #284 "Allow users to turn off image filters"
The theme already includes a filter to turn off our featured image filters:

https://github.com/WordPress/twentynineteen/blob/7eb93d5f79eedb168f72ccfeddbfcf6f0f129875/inc/template-functions.php#L120

We should make this a theme option, so it's available within the Customizer. If a user chooses to turn off image filters:

- Featured images within archive pages should have no overlay on them at all.

[2018-10-24 20:47] anevins12 commented on #6
That works too. I didn't realise there was a blue filter on top of the image already.

The 0.55 opacity figure was from my own research; which always produces a 4.7:1 contrast ratio against the hero image and the text. What you're suggesting with the filters is the equivalent of this, but with blue instead of black.

[2018-10-24 20:51] #6 closed

[2018-10-24 21:16] 2ndkauboy commented on #62
As `em` and `%` are both relative units, they need a value to be relative to. So using a fixed `font-size` in `px` is usually the way to go. Having the fixed size (only) on the `html` tag is good practice.

The size of the text can easily be increased by the browser, even if defined in `px`, which is very important for the a11y. Setting the `font-size` to `100%` would result in a size of `16px` in

[2018-10-24 21:20] WPprodigy commented on #223
Linking to the PR for search-ability: https://github.com/WordPress/twentynineteen/pull/229

[2018-10-24 21:40] joyously commented on #62
Yes, this is what is needed, because those that have changed their default size have a reason to do so. Setting it to a fixed px size means that you override what the user chose. This is a concern for accessibility, for those that have low visual acuity and set their default sizes to larger. Just this weekend, I was helping an elderly man who had problems with his retinas, and had to set his brows

[2018-10-24 21:53] 2ndkauboy commented on #62
The `font-size` in the browser is usually scale "relative" and not absolut to a different value, so setting the size to `22px` it also perfectly fine, if a user zooms. Also the browser zoom (using CTRL and the mouse wheel or `+`) is also zooming relative.

[2018-10-24 21:55] 2ndkauboy commented on #62
As an alternative to just having `px`, we could use it together wirh `rem`:

[code]

[2018-10-24 22:10] remediosaraya opened #289 "Avatar is misaligned on comment form"
Issue:
The comment area avatar is misaligned. When we load the page for the first time, the first comment.
Screenshot:
<img width="904" alt="screen shot 2018-10-24 at 3 55 17 pm" src="https://user-images.githubusercontent.com/4819636/47464532-ba9a0880-d7a6-11e8-88af-24c0494ce6aa.png">
<img width="945" alt="screen shot 2018-10-24 at 3 55 07 pm" src="https://user-images.githubusercontent.com/4819636

[2018-10-24 22:14] remediosaraya commented on #289
hide the avatar like on the tablet and mobile version is a good fix too

[2018-10-24 22:30] joyously commented on #62
You miss the point. Using px on `html` is not accessible. It disregards the user's choice. If you use `100%`, you will get what the user chose for himself. Most users do not change it from 16px. But those that do change it do it for a reason.

[2018-10-24 23:25] tobifjellner opened #291 "Some small things noted during translation"
https://build.trac.wordpress.org/browser/branches/5.0/wp-content/themes/twentynineteen/inc/template-tags.php Line 43 contains a translators comment that doesn't make sense in the current context:

`/* translators: 1: SVG icon. 2: post author, only visible to screen readers. 3: author link. */ `

There's another one in line 83:

`/* translators: 1: SVG icon. 2: posted in label, only visible to scre

[2018-10-24 23:36] kjellr commented on #289
Thanks, @remediosaraya! There's actually already an issue filed for this in https://github.com/WordPress/twentynineteen/issues/213. We have a soon-to-land PR for the fix here: https://github.com/WordPress/twentynineteen/pull/214. I'm going to close this ticket for now, but the report is highly appreciated!

[2018-10-24 23:36] #289 closed

[2018-10-24 23:41] peterwilsoncc commented on #270
@afercia In #280 the illustration for the mobile menus shows a user action is required to open menus and submenus. Will `aria-expanded` be required for that layout?

[2018-10-25 00:33] nielslange commented on #270
@afercia In addition to `aria-expanded` I also removed `aria-haspopup` as both elements came together and none of them changed its state.

[2018-10-25 00:53] kjellr commented on #6
Sounds great. Thanks @anevins12!

[2018-10-25 00:59] nielslange commented on #282
@afercia Thanks for reporting this issue. On my screen, the implementation of #263 looked as followed:

![screenshot 2018-10-25 at 07 50 37](https://user-images.githubusercontent.com/3323310/47469379-cdeeb780-d82a-11e8-972d-9e63c632a75f.png)

Top left: Chrome 69.0
Bottom left: Opera 55.0
Top right: Safari 12.0
Bottom right: Firefox 64.0b3

Since I positioned the drop-down container under the paren

[2018-10-25 01:29] kjellr opened #293 "Update Cover Image block styles to use the new Cover block name"
The cover image block [was renamed](https://github.com/WordPress/gutenberg/pull/10659) when it added video functionality in Gutenberg 4.1.0. That means we need to:

- Rename styles in style-editor.css
- Add an additional name selector in _blocks.scss (We want to include both the new and the old name here, to support cover image blocks created using prior versions of Gutenberg)

This is noticeable

[2018-10-25 01:37] kjellr opened #295 "Cover block: Fix alignment styles in the editor."
When dealing with a short string of text, changing the alignment of cover text has no visible effect:

![cover-alignment](https://user-images.githubusercontent.com/1202812/47470688-d5837180-d7d4-11e8-93dc-890594790baf.gif)

If your text extends onto multiple lines, the alignment controls work fine:

![cover-alignment-2](https://user-images.githubusercontent.com/1202812/47470703-e6cc7e00-d7d4-11e8-

[2018-10-25 01:42] kjellr opened #296 "Fix pullquote citation text size."
On the front end, It looks like the `cite` tag inside of pullquote blocks is now nested inside of a `p` tag (as of Gutenberg 4.1.0). This causes our `em`-based font sizes to nest, resulting in larger than intended citations:

<img width="472" alt="screen shot 2018-10-24 at 9 38 34 pm" src="https://user-images.githubusercontent.com/1202812/47470836-812cc180-d7d5-11e8-916f-cdf7eb455b55.png">

The te

[2018-10-25 01:53] kjellr opened #297 "Unable to click into single posts that have no title."
To test:
- Create a post, do not give it a title
- View it in the feed.

There's currently no way to click into the full post view. We should add the post date to the post meta at the bottom, linking to the post's permalink.

_Screenshot_
<img width="693" alt="screen shot 2018-10-24 at 9 51 17 pm" src="https://user-images.githubusercontent.com/1202812/47471170-2005ed80-d7d7-11e8-96c4-15f1f7e04d36.

[2018-10-25 01:55] nielslange commented on #297
@kjellr What about adding the `Continue reading` button below the post in such a case? Happy to create a PR later today.

[2018-10-25 02:00] kjellr commented on #63
Reopening this because the bug I noted here was not actually fixed:

https://github.com/WordPress/twentynineteen/issues/63#issuecomment-430713983

When we address this, we should also be sure that the citation is styled like it would be in Gutenberg. Currently, it's fairly large:

<img width="673" alt="screen shot 2018-10-24 at 9 54 44 pm" src="https://user-images.githubusercontent.com/1202812/474

[2018-10-25 02:05] kjellr opened #298 "Fix post password field size/spacing issues."
Currently, the post password field is very large compared to the button next to it:

<img width="535" alt="screen shot 2018-10-24 at 10 00 48 pm" src="https://user-images.githubusercontent.com/1202812/47471477-69a30800-d7d8-11e8-8e94-e7f8e55774eb.png">

It should be the same height as the button, and should have a little extra space to the right and left:

![password-field](https://user-images.git

[2018-10-25 02:06] kjellr opened #299 "Style pingbacks"
Currently pingbacks are completely unstyled. These should have some sort of treatment.

<img width="716" alt="screen shot 2018-10-24 at 10 03 12 pm" src="https://user-images.githubusercontent.com/1202812/47471590-f221a880-d7d8-11e8-8da1-b9d853deef27.png">

[2018-10-25 02:09] kjellr commented on #91
@allancole Now that I'm looking at this again, it's not looking fixed to me:

<img width="1251" alt="screen shot 2018-10-24 at 10 06 52 pm" src="https://user-images.githubusercontent.com/1202812/47471660-4d539b00-d7d9-11e8-9112-c745031f039f.png">

(Using the [theme unit test](https://github.com/WPTRT/theme-unit-test) sample posts)

[2018-10-25 02:13] kjellr opened #300 "Add padding between prev/next post navigation"
Previous/Next Post navigation titles can run into each other if they're long enough. When these two links are stacked side by side like this, we should add padding to make sure this doesn't happen:

<img width="825" alt="screen shot 2018-10-24 at 10 10 05 pm" src="https://user-images.githubusercontent.com/1202812/47471747-c521c580-d7d9-11e8-894e-01f527cc2a89.png">

[2018-10-25 02:17] kjellr commented on #297
In this case, there may not actually be any more to read. 😄 I think just adding a post date section to  the meta makes sense — we already  =display one at the top of the single post page:

<img width="645" alt="screen shot 2018-10-24 at 10 15 49 pm" src="https://user-images.githubusercontent.com/1202812/47471914-90fad480-d7da-11e8-9229-e04ef19f52d6.png">

[2018-10-25 02:21] kjellr commented on #282
It might — I'd have to take a look tomorrow. But I seem to remember that `max-content` in that context may also not have wide browser support. We'll have to double check on that.

Also cc @c4rl0sbr4v0, who mentioned he'd take a look at fixing this.

[2018-10-25 03:20] briannaorg commented on #300
Added 1rem of padding at desktop sizes.

<img width="912" alt="screen shot 2018-10-24 at 10 16 59 pm" src="https://user-images.githubusercontent.com/3371846/47474062-f8188900-d7da-11e8-9392-223448fe7dfb.png">

[2018-10-25 03:46] briannaorg commented on #298
Made some adjustments to the global input and button styles to match up vertically.

<img width="713" alt="screen shot 2018-10-24 at 10 35 03 pm" src="https://user-images.githubusercontent.com/3371846/47474837-922e0080-d7de-11e8-9f20-fbfa1a15b9fa.png">

[2018-10-25 04:01] drjecker opened #305 "Fluid font sizing"
The font size is the same for mobile as for desktop. Large font sizes on small screens can impact readability. I suggest implementing fluid type that changes based the width of the viewport.

You can see an example of this technique in this [article on CSS Tricks](https://css-tricks.com/snippets/css/fluid-typography/):

![Animated gif showing fluid type from CSS Tricks](https://css-tricks.com/wp-c

[2018-10-25 04:34] #293 closed

[2018-10-25 05:19] nielslange commented on #297
@kjellr Isn't that too cryptic? Personally, I would not expect that clicking on the post date will lead to the single post view. 🤔

Concerning the `Continue reading` I would slightly disagree, as there might be comments to read. Let me take a look at how other Twenty themes behave in this case.

[2018-10-25 05:27] monika-12 opened #306 "Remove Comma after last element of menu item"
There is no need to add comma after last item of menu item.
![twenty-nineteen](https://user-images.githubusercontent.com/17018981/47477827-c3d9b280-d844-11e8-8572-f463c5806769.jpg)

[2018-10-25 05:33] nielslange commented on #306
@monika-12 This issue should have been fixed with #263. Is it possible that you're not using the latest version?

[2018-10-25 05:42] monika-12 commented on #306
@nielslange  I am using WP beta version.
Should I need to do anything else ?

[2018-10-25 06:02] pooja-muchandikar opened #307 "Leave comment section of posts - text is overlapped by Profile icon.(gravatar"

[2018-10-25 06:14] nielslange commented on #306
@monika-12 Thanks for clarifying that. WordPress 5.0 beta 1 does not contain the latest changes of this repo. #263 had been merged 16 hours ago, and thus after the beta version got released. You could download the latest Twenty Nineteen theme directly via https://github.com/WordPress/twentynineteen as seen on

![annotation on 2018-9-4](https://user-images.githubusercontent.com/3323310/47479552-b84

[2018-10-25 06:44] afercia commented on #282
@nielslange thanks for clarification. It's perfectly possible I've made some mistake building the CSS. However, can you please try focusing a top level item with the keyboard? In that case, `max-content` doesn't get applied. Still not supported by Edge and IE.

[2018-10-25 07:10] jasmussen commented on #281
I have opinions ;)

And distilled to its purest essence: the editor style should look as much as possible like the theme, so if you can scope this rule to just the editing canvas, DO IT! I imagine this might work:

[code]

I _don't_ think that this rule should be applied to Gutenberg as a whole, or even WordPress. And in fact, outside of the benefits this had in the past to ensure icon fonts didn'

[2018-10-25 07:13] afercia commented on #270
@peterwilsoncc thanks, yep if in the mobile view the menu requires activation then `aria-expanded` should communicate the state change and should be used only in the mobile view. 😱

@nielslange thanks, I'm undecided about [aria-haspopup](https://www.w3.org/TR/wai-aria-1.1/#aria-haspopup) as it's not a state, it's a property to indicate if there's a popup or not. However, to use it properly, a few

[2018-10-25 07:16] LittleBigThing commented on #121
Ok, I'll try to propose a PR later today.

[2018-10-25 09:19] grappler commented on #291
I think the PR https://github.com/WordPress/twentynineteen/pull/237 should fix some of those.

[2018-10-25 10:42] nielslange commented on #306
Great. Happy to hear that, @monika-12. Also, feel free to close this issue once you can confirm that the comma behind the last element is no longer visible.

[2018-10-25 10:46] nielslange commented on #270
Thus, remove it for now and potentially introduce it again with an adjusted implementation in v1.1. 😉

[2018-10-25 11:27] #306 closed, assigned to nielslange

[2018-10-25 11:45] LittleBigThing commented on #50
Related to this issue. We are using a background image as a featured image for single posts and pages with `background-size: cover`. This means that the same image is loaded for each screen size and we are not taking advantage of responsive images as available in core for the `<img>´ tag.

As an alternative, we could output the collection of images in `<img>` and use `object-fit: cover` to style i

[2018-10-25 11:45] monika-12 opened #310 "Remove dash before tagline if site title is empty and site logo added"
It doesn't make sense to add dash before tagline if site title is empty and site logo is added. Please check attached screenshot.
![screenshot-wp local-2018 10 25-17-14-31](https://user-images.githubusercontent.com/17018981/47497984-7deb1180-d879-11e8-9319-fad409c779a8.png)

[2018-10-25 11:55] monika-12 opened #312 "Remove Comma in site info if site title is not there"
There is comma displaying before "Proudly powered by WordPress" text if site title is not there.
![screenshot-wp local-2018 10 25-17-25-21](https://user-images.githubusercontent.com/17018981/47498467-fd2d1500-d87a-11e8-8cee-6742048487c5.png)

[2018-10-25 12:18] nielslange commented on #312
Thanks for reporting this issue, @monika-12! I just created a fix for this issue in #314.

[2018-10-25 12:34] #312 closed

[2018-10-25 12:54] kjellr commented on #305
Hey @drjecker — thanks for filing the issue. The default 16px font size on mobile may be readable for some, but for many others in of the population, it's too small to comfortably read. Our large font size on all screen sizes is intentional, and is driven by an effort to be a little more inclusive. By setting an easier-to-read default body text size, we're aiming to have a positive impact on those

[2018-10-25 13:03] 2ndkauboy commented on #62
I totally got your point. In all modern browsers, the font-size is increased using the general zoom functionality. This will also increase the "reference pixel". So even if you set the font-size to a fixed `px` value, the text will be larger.

Only Chrome and Firefox still have a (quit hidden) setting, where you can increase the actual root element font-size in pixel, but using a fixed value and a

[2018-10-25 13:18] carolinan commented on #297
I think clicking the post date to reach a single post is a very common pattern,  but less common in the footer below the post.

[2018-10-25 13:33] 2ndkauboy commented on #164
You are right, we should probaby target for exact calculated pixel values. Should we use the next best rounded value or should we use steps, a use might now from other programs, like Word (16, 18, 20, 22, 24, 26, 28, 36, 48) or Pages (14, 18, 24, 36, 48, 64):

| Variable | Rounded | Word/Pages
| -- | -- | -- |
| $font__size-xs | 16px (`/ 1.546875`) | 16px | (`/ 1.546875`)
| $font__size-sm | 20px

[2018-10-25 14:00] nielslange commented on #8
Close as Jetpack will handle theme support within the plugin, as mentioned in #202 (comment).

[2018-10-25 14:00] #8 closed

[2018-10-25 14:05] nielslange commented on #70
Closed due to the merge of #169.

[2018-10-25 14:05] #70 closed

[2018-10-25 14:17] #310 closed

[2018-10-25 14:39] joyously commented on #50
Be sure to consider #208.

[2018-10-25 14:48] joyously commented on #305
I'm still advocating for using `html { font-size: 100%}` so that all users get what they chose in their browser, whether that is 36px or 15px. I'm one of those who feels claustrophobic when the font size is too large (I've answered forum questions about font sizes too big), and I've met many who need quite large font sizes to be able to read the text at all.

[2018-10-25 14:52] nielslange commented on #299
@melchoyce Would you mind taking a look at the pingback styling options? These are the pingback styles of the other Twenty themes. On the other hand, the pingbacks look quite nice in the Twenty Nineteen theme. Thus, I wonder if we should even style them or just keep them as they are. 🤔

CC: @kjellr

## Twenty Seventeen
<table>
<tr>
<td valign="top">iPad:

![299 - twenty seventeen ipad](https://use

[2018-10-25 14:55] kjellr commented on #282
This should be working as of #308. 👍

[2018-10-25 14:55] #282 closed

[2018-10-25 14:57] LittleBigThing commented on #50
Ok, thanks. The issue of having small featured images will probably remain using the above option.

[2018-10-25 14:59] kjellr commented on #50
@LittleBigThing A refactor to use images that way would be fantastic. I'm not sure @allancole or I will have a chance to work on that before RC1, but I'd definitely encourage any PRs.

[2018-10-25 15:03] joyously commented on #62
No, you still missed the point. It's not about whether the zoom works, which with modern browsers is not a problem anymore. It's about the fact that each user _can_ set it to their need, so every site they visit is large (or small) enough for their comfort. When you use `px`, you override the user's choice, which is usually because of a visual deficit. That is not a good experience for the user.

[2018-10-25 15:06] 2ndkauboy commented on #164
In the PR, I used the values from the column "Word/Pages" (but used `13px` for `$font__size-xxs`).

Example: the `$font__size-xl` now rounds to `2.18182em` which is `48.00004px`, which should be exact enough for the browser (at least I cannot see any repaint when switching to the exact value of `48px` in Chrome).

[2018-10-25 15:09] kjellr commented on #299
@nielslange let's do something like this:

<img width="714" alt="screen shot 2018-10-25 at 11 07 04 am" src="https://user-images.githubusercontent.com/1202812/47510578-6cd4dd00-d846-11e8-90b7-78679c5ad914.png">

[2018-10-25 15:15] kjellr commented on #281
Thanks, @jasmussen. I'm not  100%  sure that something as simple as your example will work (I worry that it'll bleed into block-level controls/placeholder labels/menu text/etc.). But we can try things out and see. 👍

[2018-10-25 15:18] kjellr commented on #121
Thank you!

[2018-10-25 15:42] nielslange commented on #29
Language | ISO Codes | Fonts | Tester | PR
------------ | ------------- | ------------- | ------------- | -------------
Cyrillic | bg_BG, ru_RU, uk_UA | font_family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans_serif; | n/a | n/a
Greek | el_GR | font_family: 'Helvetica Neue', Helvetica, Arial, sans_serif; | n/a | n/a
Hebrew | he_IL | font_family: 'Arial Hebrew', Arial, sans_serif; | n/a |

[2018-10-25 15:44] #65 closed

[2018-10-25 16:04] nielslange commented on #299
@kjellr Why is that pingback placed between the comments? Is that intended or did that happen by accident? If not, what's the logic behind it? Shall both comments and pingbacks be listed descending by date?

[2018-10-25 16:30] 00travelgirl00 commented on #277
Reladet PR #321

I could not find out how to style just the links in entry-content with sass.

[2018-10-25 16:35] joyously opened #322 "menu over featured image has same color"
The submenu icons are difficult to distinguish when there is a featured image.

![menu-over-featured-image](https://user-images.githubusercontent.com/7957680/47515977-cf7ba800-d849-11e8-8057-c690b0c33872.jpg)

[2018-10-25 16:49] aaronjorbin commented on #94
The theme should make it easy for plugins to output any markup they need.

[2018-10-25 16:52] joyously opened #323 "attachment page problems"
This is an attachment page. There is a `--Published inPost Format: Gallery` text that
1) is misaligned,
2) it didn't let me select the gray part,
3) the gray part is showing the link cursor,
4) there is no space between the label and the link.
Also, the caption of the image is not shown on the page.

![attachment-page](https://user-images.githubusercontent.com/7957680/47516675-b247d900-d84b-11e8-8

[2018-10-25 17:04] kjellr commented on #299
Sorry — I was messing around with something else at the time. I  don't meant to adjust the placement or order of comments/pingbacks. Let's just style the pingback alignment, label, and title as shown there.

[2018-10-25 17:17] joyously opened #325 "alignleft and alignright are switched on RTL"
In RTL mode, alignleft is on the right and alignright is on the left. These should not change with RTL.

![rtl-image-alignement](https://user-images.githubusercontent.com/7957680/47517872-1d46df00-d84f-11e8-920f-eb08b58d6082.jpg)

[2018-10-25 17:19] mor10 commented on #50
I'll take a closer look on Monday. We can leverage CSS Grid to make the featured image responsive and accessible with a background image fallback.

[2018-10-25 17:45] joyously opened #326 "post titles are bold, not showing bold markup differently"
Post titles are showing as bold, so markup for bold is not different.

![title-markup](https://user-images.githubusercontent.com/7957680/47519696-bd9f0280-d853-11e8-9216-dbed92b85a8f.jpg)

[2018-10-25 17:50] kjellr commented on #326
@joyously What browser and operating system are you seeing this on?

_(Here's Mac OS 10.14, Safari 12.0)_
<img width="698" alt="screen shot 2018-10-25 at 1 49 06 pm" src="https://user-images.githubusercontent.com/1202812/47519974-de1f8a80-d85c-11e8-9850-7eb9ae754288.png">

[2018-10-25 18:16] joyously commented on #326
Mine was on Ubuntu, using SeaMonkey 2.49, but it looks the same in Firefox 62.

[2018-10-25 18:34] pattonwebz commented on #323
I think I can see why these issues are happening, I did be able to submit a PR with fixes by end of day.

[2018-10-25 18:38] dimadin commented on #291
Also see #217.

[2018-10-25 18:56] joyously commented on #258
Right now, there is no useful place for a user to add a search (useful excludes the footer).

[2018-10-25 19:28] #213 closed

[2018-10-25 19:46] allancole commented on #223
@mmaumio This should be fixed in #316 so I’ll close this for now. If you still see the problem feel free to reopen or start a new issue.

[2018-10-25 19:46] #223 closed

[2018-10-25 19:49] mmaumio commented on #223
Sure.
I'll let you know.

Thank You

[2018-10-25 20:57] allancole commented on #297
This is technically an edge case, so as long as there is _some_ way to get to the singular view, I think we’ll be okay.

A `Continue reading` link is usually something we want users to add, so I don’t think its right for the theme to introduce something that the user can’t remove or didn’t opt into.

On the singular view, there’s an `.entry-meta` that site below the post-title and above the post-c

[2018-10-25 21:57] allancole commented on #300
Fixed in #303

[2018-10-25 21:57] #300 closed

[2018-10-25 22:11] c4rl0sbr4v0 commented on #326
I have it in Firefox working
<img width="763" alt="screenshot 2018-10-26 at 00 08 56" src="https://user-images.githubusercontent.com/37012961/47533260-629cf800-d8b3-11e8-8c22-1a0cc0f6290d.png">

[2018-10-25 23:24] joyously opened #329 "SVG icons have two width and height attributes"
This is from the menu:

`<svg class="svg-icon" width="16" height="16" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 12l-4-4h8l-4 4z"/></svg>`

[2018-10-25 23:33] joyously opened #330 "missing closing div"
The comments in these two lines show the wrong classes, and the `<div>` should be `</div>`.

https://github.com/WordPress/twentynineteen/blob/b665166e5b683e572bdec7e98257f8d33366e5e5/template-parts/post/author-bio.php#L20-L21

[2018-10-25 23:50] joyously opened #331 "Background color is not set for classic editor"
I set the background color to light green and edit a post in classic editor. The background color is white there.

[2018-10-26 00:01] kjellr commented on #326
My guess about this is that the Ubuntu system font we're using there may not have both bold and heavy weights included to use in this case. A quick glance at Ubuntu's design docs seems to confirm that: https://design.ubuntu.com/font/

The system fonts we call for Mac, iOS, Windows, and Android all do have Heavy/Black/ExtraBold/etc fonts to use in cases like these.

[2018-10-26 00:13] #322 closed

[2018-10-26 03:15] nielslange commented on #297
I've created #297 to fix this issue. To avoid crucial design changes I've only added the post date to the footer.

[2018-10-26 04:28] westonruter commented on #266
I think I understand why this is happening: when tabbing forward you start with focus on the root link of the nav submenu. At this point, the links below are displayed and so they can then be tabbed to. However, if you tab past the last link in a submenu and then tab backwards, the last link in the submenu is no longer displayed and so it cannot be focused, meaning the keyboard jumps back to the p

[2018-10-26 05:01] nielslange commented on #299
@kjellr Thanks for clarifying this. On #336 you can now find and review my PR.

[2018-10-26 05:10] nielslange commented on #284
Closed as fixed when #327 will be merged.

[2018-10-26 05:10] #284 closed

[2018-10-26 05:48] monika-12 opened #338 "IE - Logo is overlapping on tagline and menu"
I am finding this bug on IE-11 Site logo is overlapping on tagline and menu.
![ie-issue](https://user-images.githubusercontent.com/17018981/47546870-c7d30680-d910-11e8-80dc-31767f230551.jpg)

[2018-10-26 06:11] monika-12 opened #339 "Add option for Text color and Link Color in Customizer"
**Actual:**
When I am using background image then default text color/link color will not work.  There is no option to change link color and text color.

**Expected**
There should be option to add Text Color and Link Color so it will easy for user to change it easily.

**Screenshot**
![image](https://user-images.githubusercontent.com/17018981/47547674-0f0ec680-d914-11e8-973a-1b188290a72c.png)

[2018-10-26 06:22] monika-12 opened #340 "Apply white Box Shadow on Site Logo Hover when Background image is applied"
When Background image is applied from Customizer Black box shadow on Logo Hover will not work so it should be white box shadow there.

![black-shadow](https://user-images.githubusercontent.com/17018981/47548123-97da3200-d915-11e8-921c-bd23d82b526d.jpg)

[2018-10-26 07:05] afercia commented on #266
Yep. In CSS there's no selector to target an ancestor. The relatively new `focus-within` could be used to build a pure-CSS solution, see for example https://www.scottohara.me/blog/2017/05/14/focus-within.html. Unfortunately, `focus-within` is not supported by Edge and IE. I've heard there are polyfills but I've never played with them so I can't say if they're good. If they're good enough, it would

[2018-10-26 07:15] afercia commented on #266
The ones I've found are:
https://github.com/jonathantneal/focus-within
https://github.com/jonathantneal/postcss-focus-within

[2018-10-26 07:28] monika-12 opened #342 "When user Avatar is there entry meta is breaking down on Single Post Template"
Entry meta is breaking down in 2 lines when Avatar is there.

![screenshot-wp local-2018 10 26-12-57-31](https://user-images.githubusercontent.com/17018981/47551054-c01a5e80-d91e-11e8-9f1d-f21dc73bf2de.png)

[2018-10-26 09:46] zengxiaoluan commented on #340
hello，这个主题有什么特色呢？设计风格有什么不同？

[2018-10-26 11:20] grappler opened #350 "Optimize font styling"
While looking at #344 I saw there were multiple classes being used to define the header font styles.

This caused me to look at the default styles. For the heading styles we have loads of classes that have a custom header font. This does not seem very clean and organised.

https://github.com/WordPress/twentynineteen/blob/b5a501938014f2cbb709e2b1e6bfd41ab68386c8/sass/typography/_headings.scss#L1-L2

[2018-10-26 11:33] nielslange commented on #29
@grappler I decided to outsource the language support to avoid that all additional languages get loaded all the time. I don't see any benefits in loading Cyrillic, Greek, Hebrew, etc. when the site language is set to English. Given the fact that on language CSS file has 80+ lines of code, we would load 900+ extra lines of code, that are not necessary for languages with a Latin character set. What

[2018-10-26 12:30] kjellr commented on #342
Thanks. I can reproduce in Safari 12.0. For some reason, this does not occur when I'm logged in, only when I'm logged out.

<img width="1440" alt="screen shot 2018-10-26 at 8 29 47 am" src="https://user-images.githubusercontent.com/1202812/47566315-5c316f00-d8f9-11e8-98f1-16834444955e.png">

[2018-10-26 12:33] kjellr commented on #340
@monika-12 — there appears to be some other errors going on in this screenshot too... the blue menu text, the black text, etc. Under what circumstances did you see this?

Thanks!

[2018-10-26 12:36] kjellr commented on #339
@monika-12  — Just to clarify, are you seeing this with the latest version of the theme, from GitHub? Can you share your browser and OS version so we can try to reproduce?

[2018-10-26 12:56] LittleBigThing commented on #338
The above PR should fix this.
I don't think it's a browser issue?

[2018-10-26 13:02] pooja-muchandikar opened #355 "Theme with BuddyPress Profile view is not intuitive."
Refer the snapshot.

Using BuddyPress Plugin, and Twenty nineteen theme - profile page with twenty nineteen theme is not intuitive.

1. Profile icon looks so small. And name and profile are not aligned.
2. User active status is not aligned.
3. On cover image there is one horizontal line present, which shouldn't be.

Check the snapshot.

![profile1](https://user-images.githubusercontent.com/4100064

[2018-10-26 13:09] #338 closed

[2018-10-26 13:15] kjellr commented on #29
Thanks @nielslange for getting all these PRs up and running. Just noting that I've updated the main issue above to include links to each PR: That way we can use this thread to keep track of which ones have been tested, approved, and merged.

[2018-10-26 13:36] Ismail-elkorchi opened #356 "Comply with WordPress CSS Coding Standards"
Twentynineteen don't adhere to [WordPress CSS Coding Standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/css/), when it should. Also, it's worth adding Stylelint to travis along with [stylelint-config-wordpress](https://github.com/WordPress-Coding-Standards/stylelint-config-wordpress) to prevent any inconsistencies in the codebase.

[2018-10-26 14:04] #297 closed

[2018-10-26 14:12] allancole commented on #355
Hi @pooja-muchandikar 👋 Thanks for contributing! We don’t typically provide compatibility support for specific plugins, unfortunately.

We won’t be including BuddyPress compatibility in Twenty Nineteen, but here’s some information on how you might be able to add compatibility yourself: https://codex.buddypress.org/themes/theme-compatibility-1-7/a-quick-look-at-1-7-theme-compatibility/

[2018-10-26 14:12] #355 closed

[2018-10-26 14:21] joyously commented on #350
Or, like in Twenty Seventeen,
`html[lang="ar"] {
    font-family: 'Arabic font', sans-serif;
}
html[lang="gr"] {
    font-family: 'Greek font', sans-serif;
}`

[2018-10-26 14:29] kjellr commented on #296
Automatically resolved in Gutenberg 4.1.1.

[2018-10-26 14:29] #296 closed

[2018-10-26 14:36] philiparthurmoore commented on #29
@nielslange Thanks a ton - I'll take care of that on Saturday.

[2018-10-26 14:43] joyously commented on #29
You do know that you can get the user's installed font by using `serif` or `sans-serif` or `monotype`, right? There isn't a need to specify specific fonts if you are going for a generic look, and the user would get whatever font they chose in their browser. Big impact with very little CSS.

[2018-10-26 14:53] kjellr commented on #277
Fixed via #321.

<img width="764" alt="screen shot 2018-10-26 at 10 52 35 am" src="https://user-images.githubusercontent.com/1202812/47574294-45951300-d90d-11e8-9f5b-c00c7e7c4fd5.png">

[2018-10-26 14:53] #277 closed

[2018-10-26 15:27] ianbelanger79 opened #358 "File download button has underline under text"
See screenshot below

![file-download-button-underline](https://user-images.githubusercontent.com/34601694/47576283-159c3e80-d912-11e8-96ce-a087ad9b1e44.PNG)

[2018-10-26 15:36] grappler commented on #350
@joyously I mean in  a general sense and not language specific.

[2018-10-26 15:51] kjellr commented on #298
Fixed via #304

[2018-10-26 15:51] #298 closed

[2018-10-26 16:20] joyously commented on #350
I know, but why not? We did that in Twenty Seventeen.

[2018-10-26 17:04] #89 closed

[2018-10-26 17:52] kjellr commented on #189
I'm going to close this one for now. Upon testing the block, the default styles are all based on what we have in place already. Through block options like custom color adjustments you can actually achieve most of what you'd need to do, and I think imposing a custom default state would just be confusing.

![screen shot 2018-10-26 at 1 51 59 pm](https://user-images.githubusercontent.com/1202812/4758

[2018-10-26 17:52] #189 closed

[2018-10-26 18:31] #63 closed

[2018-10-26 19:51] grappler commented on #350
The disucssion for that should be done in https://github.com/WordPress/twentynineteen/issues/29

The point of this issue is reduce the number of classes used to define header fonts.

[2018-10-26 20:26] joshfeck opened #364 "Fix missing text domain for tax archives heading in template-functions.php"
There is one string with a missing text domain in twentynineteen_get_the_archive_title().

[2018-10-26 21:19] allancole commented on #29
The proposed solution for the is very thorough, which is great but I think @joyously’s suggestion might be ideal here. I’m worried that adding so many additional language-specific font-styles would be really difficult to maintain and keep in-sync with the theme’s selectors. Twenty Seventeen only had one font, so there’s far fewer selectors to consider compared to Twenty Nineteen, where we have 2 f

[2018-10-26 21:26] #364 closed, assigned to nobody

[2018-10-26 22:33] westonruter commented on #266
I just found that the issue is not due to `:focus-within`. Rather, it's because the submenus get `display:none` when not displayed:

https://github.com/WordPress/twentynineteen/blob/3aa5fbee914e69002540fca20c160d56290ad509/sass/navigation/_menus.scss#L73

In Twenty Seventeen, however, these submeus get `display:block`:

https://github.com/WordPress/wordpress-develop/blob/5d92e0c0a950399c53294a4100

[2018-10-27 00:28] philiparthurmoore commented on #29
@allancole I'd be more in favor of a `sans-serif` and `serif` only approach for the reasons both you and @joyously have outlined. Maintainability is worth avoiding over-engineering this. That said, you're the designer. If keeping it too simple means compromising on an already minimal design then I'd probably be okay with the more involved approach.

[2018-10-27 01:06] joyously commented on #326
No, when I change this rule
[code]
to be `font-weight: normal`, then it looks correct. This rule makes the whole thing bold.

[2018-10-27 03:44] nielslange commented on #29
@allancole In general I like the idea of unsins less code to keep the language support maintainable. Your code snippets above will not work due to CSS Specificity. Having said that, if you add `!important` to your statements it should work. I’m not a fan of using `!important` in general, but in favor of keeping the CSS code short, I’m happy to use it. 😉

I’m on the road currently, but will adjust

[2018-10-27 15:18] #342 closed

[2018-10-27 17:29] bph opened #369 "Cover Block: Links in Text invisible on front end"
When I added links to the cover block text, the editor shows the text as underlined. On the front end, that doesn't show, which makes links invisible to visitors.
Screenshot from the editor:
<img width="698" alt="screen shot 2018-10-27 at 1 22 53 pm" src="https://user-images.githubusercontent.com/39980/47607272-da6e3e00-d9eb-11e8-945c-65d340baf6b2.png">

Screenshot from the frontend.
<img width="9

[2018-10-27 17:59] kjellr commented on #369
@bph I think this may be fixed in the latest version of the theme here on Github. We lost some of our custom cover image styles when the block was renamed from "Cover Image" to "Cover" in the last version of Gutenberg, and the fix didn't make it into the Beta 1 merge. Here's how this should look now:

Back end:

<img width="602" alt="screen shot 2018-10-27 at 1 57 12 pm" src="https://user-images.g

[2018-10-27 20:05] anevins12 commented on #356
Looking into it, assign to me

[2018-10-27 21:33] bph opened #370 "Single Post: Author information misaligned"
In the footer of the single post author information with display name and bio are presented.

They are however not aligned with the rest of the page.

<img width="937" alt="screen shot 2018-10-27 at 5 28 02 pm" src="https://user-images.githubusercontent.com/39980/47609509-faaef480-da0d-11e8-990a-618ffcdb1d29.png">

[2018-10-27 21:49] anevins12 opened #371 "Implement stylelint for CSS coding standard automation"
https://stylelint.io/user-guide/cli/

We need to automate coding standard tests for CSS (ideally for SASS). We need stylelint for that. How would be implement this?

[2018-10-27 21:51] anevins12 commented on #371
Blocks #356

[2018-10-27 22:03] joyously commented on #369
Did you reload the stylesheet? (clear cache or hit Reload) There is no version number changing for styles to reload, in this development limbo.

[2018-10-28 00:57] eliorivero commented on #370
Please ensure you have the latest version. The current layout and style of the author bio is different than what you're showing and it was introduced in https://github.com/WordPress/twentynineteen/pull/283

and this one is properly centered.

<img width="807" alt="captura de pantalla 2018-10-27 a la s 21 57 13" src="https://user-images.githubusercontent.com/1041600/47610741-4d4ed780-da33-11e8-993e

[2018-10-28 01:48] celloexpressions commented on #243
I added the code for that to the header PR, since it's tied together as the same feature. Not sure what the preferred workflow would be to collaborate on that, but I tried to add all of the code with comment so that it's easy to add.

I would note that it's very easy to support video headers since `the_custom_header_markup()` is already being used. See https://make.wordpress.org/core/2016/11/26/vi

[2018-10-28 02:16] celloexpressions commented on #64
I agree that a default color should be defined alongside the default body background here.

[2018-10-28 02:18] kjellr commented on #369
I agree there may be some caching issues — here's how that first block looks when I view it:

<img width="1245" alt="screen shot 2018-10-27 at 10 13 29 pm" src="https://user-images.githubusercontent.com/1202812/47611139-96079000-da35-11e8-9ef8-eae2675aa841.png">

That second one is odd though — I see the unstyled text too. The markup looks unusual though... Cover block text is usually housed in a

[2018-10-28 12:34] mayukojpn commented on #29
Hi @nielslange ! If it enqueues css separately, I suggest renaming the folder to `css` like what `js` does. Or, you might need to add `s` to make it `languages` - it was .pot location of default themes older than [Twenty Sixteen](https://themes.trac.wordpress.org/browser/twentysixteen/1.0).

[2018-10-28 14:33] LittleBigThing commented on #121
Oh also this:
- the grayscale filter is now added to the featured image in the post feed without the mixin ([filter-grayscale](https://github.com/WordPress/twentynineteen/blob/90f8a86e37ca0a3986ef679134c4e774801606e8/sass/mixins/_mixins-master.scss#L48)). It is was already applied the featured image without the mixin to for single posts and pages. I am not sure why the mixin is built like it is no

[2018-10-28 15:10] joyously commented on #35
@mor10
Can you put a variable in for the featured image `mix-blend-mode`? There is already alternate support for the old browsers, so that's a case where there would be only modern browsers using it.

[2018-10-28 15:36] waviaei commented on #29
Hi! Sorry, I just couldn't find a time to follow up after submitting the issue. Huge thanks in recognizing and considering this issue, and great to see this moving forward.

[2018-10-28 17:41] #121 closed

[2018-10-28 17:53] kjellr commented on #121
Thanks again, @LittleBigThing! Just leaving a couple notes here:

I think leaving these in place for all browsers is fine for now —  we  don't currently _need_ `@supports()` calls for every instance of  `mix-blend-mode`, so this produces slightly slimmer code for now. 👍

I ran another test before merging, and here are the lightest colors possible with our filters:

- Browsers with `mix-blend-mode`

[2018-10-28 18:20] joyously opened #377 "search results showing date and author for Pages"
Pages should not display author or time-stamp information (Page publish date/time) on the Page itself, and this should be the same on search results.
Also, a search could show other post types that do not support author, so should that be checked before output? (well, I suppose the same could be said of the single page or archives... but the author bio should be checked before output)

[2018-10-28 18:53] joyously opened #378 "dropdown menu sometimes disappears"
When I hover over a menu item with a submenu, the submenu displays. But it often disappears before I can get my cursor onto it.

This is in Firefox 62 on Ubuntu.
![inconsistent-menu-2018-10-28 13-48](https://user-images.githubusercontent.com/7957680/47620484-8c733c00-dab8-11e8-8b48-00166288c755.gif)

[2018-10-28 18:59] joyously opened #379 "submenu jumps when clicked"
When I click on a submenu item, the entire submenu jumps to the left.

This is on Firefox 62 on Ubuntu.
![submenu-jump-2018-10-28 13-56](https://user-images.githubusercontent.com/7957680/47620577-8a5dad00-dab9-11e8-8c6a-d40c5f116d2a.gif)

[2018-10-28 20:15] joyously opened #381 "add fragment ID to paginated links"
When the post/page has a featured image and is paginated, it shows the big image on each page.
That is fine, but we could use code such as this so that the page links go to `#content`.
[code]

[2018-10-28 20:31] joyously opened #382 "menu z-index problem"
On a window that is narrow enough to have the featured image smaller, so the post title is up by the menu, the submenu is "behind" the post title.

![menu-z-index-2018-10-28_15-26-19](https://user-images.githubusercontent.com/7957680/47621471-70769700-dac6-11e8-863d-fc8e61c32faa.jpg)

[2018-10-29 00:30] kjellr commented on #378
May be addressed as part of #337.

[2018-10-29 00:30] kjellr commented on #379
May be addressed as part of #337.

[2018-10-29 00:31] kjellr commented on #382
Addressed in #337.

[2018-10-29 01:11] nielslange commented on #29
I've closed all single language support PRs in favour of #383.

@slaFFik Feel free to test the Cyrillic implementation.
@philiparthurmoore Feel free to test the Vietnamese implementation.
@mirucon Would you mind testing the Japanese implementation?

[2018-10-29 01:21] #87 closed, assigned to nobody

[2018-10-29 01:39] #323 closed

[2018-10-29 02:10] kjellr commented on #264
I was able to reproduce this in other themes, so this one should be fixed at the Gutenberg level, not just in our theme. 👍  I filed a bug here to track it: https://github.com/WordPress/gutenberg/issues/11183

Thanks for highlighting the issue!

[2018-10-29 02:10] #264 closed

[2018-10-29 02:16] #270 closed

[2018-10-29 05:38] monika-12 commented on #339
@kjellr
Yes, I am using the latest master branch from GitHub.
OS - Windows-10
Browser - Chrome 69

Please see attached screenshot-

![screenshot-wp local-2018 10 29-11-05-00](https://user-images.githubusercontent.com/17018981/47631109-82117a80-db6a-11e8-8f54-b77a8e3928c9.png)

Default Text and Link color are not visible on dark Background Image so there should be option in Customizer to change Tex

[2018-10-29 07:44] pooja-muchandikar opened #386 "Sub-menu - display is not intuitive."
- Added sub-menu for the menu.

- Sub-menu is not displayed right below the parent menu.

- Also, the drop-down structure consists of more space in the sub-menu, after the menu-title.

Refer snapshot.

![child-menu](https://user-images.githubusercontent.com/41000648/47635884-7b8bfe80-db7c-11e8-86a4-4cc67830fa54.jpeg)

There should be an arrow pointing to parent-menu atleast.

[2018-10-29 12:06] kjellr commented on #339
Ah, okay — Thanks for clarifying. I don't believe we background images were intended to be allowed in the theme. We might want to remove that option. cc @allancole for confirmation.

[2018-10-29 12:08] kjellr commented on #386
Thanks, @pooja-muchandikar. The menu is being reworked as part of #337 — this may be taken care of as part of that PR.

[2018-10-29 12:17] monika-12 commented on #339
Oh! That will be great if we removed Background Image option.
@allancole  Please give your confirmation on Background Image option.

[2018-10-29 12:29] monika-12 commented on #331
@joyously

Can you please explain the steps to reproduce the bug ?

[2018-10-29 12:57] kjellr commented on #339
Actually, I just checked and this option will be removed in #373. I'll keep this open until that is merged just in case though. 👍

[2018-10-29 14:38] joyously commented on #331
I used Customizer to set the background color to light green.
I clicked Save and Publish.
I chose a post to edit.
Using Visual mode, the theme styles for headings and fonts are there, but the background color is white.

[2018-10-29 19:20] ianbelanger79 opened #390 "Cover Image aligncenter is not centered"
In one of the recent commits, something has happened to the Cover Image when ```.aligncenter``` is selected. The alignment is not centered, nor does it match the backend anymore. See screenshots below

Before - last week
![centered-cover-image-chrome](https://user-images.githubusercontent.com/34601694/47674356-7be0c580-db8d-11e8-98e2-532242a0cbf0.PNG)

Now - today
![centered-cover-image-chrome-now

[2018-10-29 19:29] timnicholson opened #391 "Theme fonts conflict with Gutenberg Block Fonts"
I know there is another or two about language-specific fonts, but I wanted to point out that in general it doesn't look like the theme has attempted to set the Gutenberg block fonts to match. The theme is using sans serif (my preference, BTW), but the blocks are using a serif font. I would assume users would want consistent font usage throughout.

[2018-10-29 19:55] kjellr commented on #391
@timnicholson Can you share a screenshot of what you're seeing? Also, which version of the theme  you're using? (Is it the one bundled  with 5.0 currently, or the version downloaded from Github here?)

The fonts should be synced up between the front and back end. Here's what I'm seeing for instance:

_Front end:_
<img width="820" alt="screen shot 2018-10-29 at 3 53 27 pm" src="https://user-images.

[2018-10-29 20:49] allancole commented on #191
Fixed and merged in #373 :-)

[2018-10-29 20:49] #191 closed

[2018-10-29 21:36] mor10 commented on #35
We don't need to put an actual functional variable in the code. It could just be a color that falls back on a hard-coded color:

[code]

Of course this could (and probably should) be expanded to handle color schemes if this theme ships with them, but that's a lot more complex. Starting small still makes a huge difference.

[2018-10-29 21:38] #34 closed

[2018-10-29 23:06] #280 closed

[2018-10-29 23:13] allancole commented on #378
Fixed in #337

[2018-10-29 23:13] #378 closed

[2018-10-29 23:13] allancole commented on #379
Fixed in #337

[2018-10-29 23:13] #379 closed

[2018-10-29 23:14] allancole commented on #382
Fixed in #337

[2018-10-29 23:14] #382 closed

[2018-10-29 23:15] allancole commented on #339
Yup, this was fixed in #373 ;-)

[2018-10-29 23:15] #339 closed

[2018-10-29 23:41] mor10 commented on #50
I've done some preliminary testing and I think work needs to be done here. At present, responsive images are not handled correctly resulting in a significant performance hit. How to solve this problem depends in part on the result of [Gutenberg issue 6177](https://github.com/WordPress/gutenberg/issues/6177). Tagging @azaozz for input.

To replicate my procedure:
1. Add a single 1600px wide image t

[2018-10-29 23:42] allancole commented on #266
This should all be fixed in #337 and I’m going to add a fallbacks for `:focus-within` to the build tool that will hopefully do the trick. I ended up using some Javascript to correct the menu behavior on touch-devices and had to bring back the `aria-expanded="false"` so the state should change properly now.

It definitely needs some more testing so if anything is off, just let me know.

[2018-10-29 23:43] mor10 commented on #50
@kjellr Based on the findings above I consider this a bug.

[2018-10-30 00:43] joyously commented on #331
So, with the change to the Customizer, the background color is no longer an option. If it is staying this way, close this issue.

[2018-10-30 00:52] joyously opened #394 "menu on small window, hovered"
On a narrow window, the menu is still responding partially to hover. This includes color, but also some submenus, but the submenu text is not shown until the arrow is clicked. And once the arrow is clicked, it stays the hover color. I suppose this is okay, but odd.

![peek 2018-10-29 19-47](https://user-images.githubusercontent.com/7957680/47688573-0cca9780-dbb4-11e8-8c55-e64a1d8621d4.gif)

[2018-10-30 01:06] joyously opened #395 "word-break is messing up the text"
Someone added `word-break: all` in a recent PR. It is messing up the content.
I think the margins are too large for the images, but still, the words should not be broken like that.

![word-break](https://user-images.githubusercontent.com/7957680/47689007-ec9bd800-dbb5-11e8-9644-234b3f5dbfad.jpg)

[2018-10-30 01:36] allancole commented on #14
Closing this since the solution got merged in with #61

[2018-10-30 01:36] #14 closed

[2018-10-30 01:45] #395 closed

[2018-10-30 01:49] kjellr commented on #331
That's correct, so we can close this for now. Thanks!

[2018-10-30 01:49] #331 closed

[2018-10-30 02:00] kjellr commented on #394
Agreed — the menu on small screen still definitely needs some reworking. It's not yet in a fully workable state.

[2018-10-30 02:05] kjellr opened #398 "Menu subitems can extend offscreen on desktop"
Menu items can extend beyond the right side of the viewport. This happens especially frequently with submenu items.

![menu](https://user-images.githubusercontent.com/1202812/47690972-a7cc6d00-dbc6-11e8-82a7-a68bee378fd2.gif)

[2018-10-30 02:12] joyously commented on #398
What happened to the menu showing only the items that fit? (I know that doesn't apply to submenu.)
If you make your window smaller, the menu is wrapping around instead of having a `...` like it was proposed.

[2018-10-30 02:36] kjellr commented on #398
That's still the plan, and is  an open PR (#268). It needs to be reworked a little so that it can be implemented alongside the menu updates that were pushed today.

[2018-10-30 02:42] kjellr opened #400 "Custom color persists in the editor when the "Default" color option is active."
After resetting a custom color to the theme's default blue value, the editor still shows the custom color in a few places:

- links (within paragraphs)
- blockquotes (the thin border on the left)
- pullquotes (solid color style  variant)
- buttons

These should be default blue when "Default" is selected in the Customizer.

**Steps to Reproduce**

1.  Visit the `Customizer > Color`.
2. Choose `Cust

[2018-10-30 02:57] kjellr opened #401 "Custom color persists in the initial view of the Customizer when the "Default" color option is active."
After changing from a custom color back to the default, the Customizer still shows the custom color on first load. When this happens, choosing the `Custom` option in the Colors panel swaps things to show the default blue color until you move the hue slider. 🤔

1. Visiting the Customizer > Color.
2. Choose Custom, and choose a new primary color for the site.
3. Save your changes and exit the Custom

[2018-10-30 02:57] kjellr commented on #400
Possibly related to #401

[2018-10-30 06:58] mukeshpanchal27 opened #403 "Twenty Nineteen: Undefined twentynineteen_l10n variable in functions.php"
WordPress shows below error when we check front end of Twenty Nineteen

Notice: Undefined variable: twentynineteen_l10n in /wordpress/wp-content/themes/twentynineteen/functions.php on line 167

[2018-10-30 06:59] mukeshpanchal27 commented on #403
![error](https://user-images.githubusercontent.com/10103365/47701322-6fb54080-dc3f-11e8-91f2-8d1309531d1a.png)

[2018-10-30 12:01] LittleBigThing opened #407 "Selective refresh support for widgets"
I think that it would be a free enhancement to add theme support for selective refresh for widgets in the Customizer.

[2018-10-30 12:14] monika-12 commented on #339
Great
Thanks!

[2018-10-30 12:57] kjellr commented on #50
Thanks, @mor10. Happy to change this to a bug, but it sounds like we need to wait until Gutenberg  allows us to specify the `$max_display_area` value(s), right?

[2018-10-30 13:08] kjellr commented on #377
Fixed via #402

[2018-10-30 13:08] #377 closed

[2018-10-30 13:40] allancole commented on #403
Ahh, good catch. I think something must’ve happened while merging that through this off. Thanks for contributing ;-)

[2018-10-30 13:48] #403 closed

[2018-10-30 13:54] azaozz commented on #50
@kjellr right, the idea in https://github.com/WordPress/gutenberg/tree/update/image-block is to introduce a global PHP var similarly to the current `$content_width`. It will have three settings: default, wide, and full (acting more like "max-width"), and hopefully both the editor and the front-end will use them when setting the widths.

[2018-10-30 14:06] #407 closed

[2018-10-30 14:12] #390 closed

[2018-10-30 16:28] joyously commented on #329
Should be in RC1 milestone.

[2018-10-30 18:32] kjellr commented on #329
This one should've been closed actually — #333 took care of it. 👍

[2018-10-30 18:32] #329 closed

[2018-10-30 19:33] ianbelanger79 opened #412 "Last sub-menu item right caret has right margin"
Sub-menu items which have 3rd level navigation, have a right caret. This right caret has no margin, unless it is the last item in the dropdown. See screenshots below

Last menu item, with 3rd level nav
![last-sub-menu-item-margin](https://user-images.githubusercontent.com/34601694/47744829-a77cb200-dc58-11e8-9eb9-f1e4188cfcd1.PNG)

Same menu, but last item without 3rd level nav
![sub-menu-item-no-

[2018-10-30 19:43] ianbelanger79 opened #413 "Audio Player too wide and mis-aligned when aligncenter selected"
When you have an audio player aligned center. The audio player is much wider than the content and is mis-aligned to the left.

![audio-aligncenter-to-wide](https://user-images.githubusercontent.com/34601694/47745493-2cb49680-dc5a-11e8-86d6-1b2db11c318e.PNG)

[2018-10-30 21:02] bph commented on #369
I close this as the link issue is fixed. I will test the side issue (second cover block doesn't display well on front end) and file a separate issue if it occurs again.

[2018-10-30 21:02] #369 closed

[2018-10-30 21:31] bph commented on #370
Thanks. I give up testing this theme.

[2018-10-30 21:54] atanas-angelov-dev opened #417 "Run JSHint in Travis only once."
Currently JSHint is run for every PHP version which is not really needed and slows down the builds (will also apply to Stylelint once it is implemented). This can be avoided by adding an environment variable to one of the build configs and conditionally executing lint commands similarly to PHPCS.

[2018-10-30 21:56] atanas-angelov-dev commented on #417
My proposed PR: #418

[2018-10-30 22:00] atanas-angelov-dev commented on #371
My proposed PR: #419

[2018-10-31 05:07] nielslange commented on #370
Hello @bph 👋

I understand what you mean. When testing the theme it's beneficial to use the power of Git, to check out the software to keep up with the changes. Nevertheless, thank you very much for your effort and your willingness of helping out. This is much appreciated. In case you do want to learn how to use Git, maybe for future contributions, I can highly recommend the following resources:

[2018-10-31 12:30] #394 closed

[2018-10-31 12:30] #412 closed

[2018-10-31 12:57] kjellr commented on #325
Should be fixed as of #425. Block alignments may still be a little off until
https://github.com/WordPress/gutenberg/pull/11293 is merged into Gutenberg. 👍

[2018-10-31 13:07] #417 closed

[2018-10-31 14:03] ianbelanger79 opened #429 "Dot separator not centered in content, front and backend"
When a Dot Separator is added, it is not centered within the content on the front or backend. See screenshots below.

Frontend
![dot-separator-not-centered](https://user-images.githubusercontent.com/34601694/47793140-f88db400-dcf3-11e8-9b1c-fd5b2cc363c1.PNG)

Backend
![dot-separator-not-centered-backend](https://user-images.githubusercontent.com/34601694/47793149-fd526800-dcf3-11e8-8a74-6c745636a5

[2018-10-31 14:24] LittleBigThing opened #431 "Support for WP version"
I did some testing with the theme in previous versions of WordPress.

I started with 4.6.12.
- the theme was **not compatible**, at least due to the use of the function `get_theme_file_uri()`. This function was indeed [introduced in 4.7](https://developer.wordpress.org/reference/functions/get_theme_file_uri/#changelog).
- in addition to this, I think that the Customizer hue control used for select

[2018-10-31 14:44] joyously commented on #431
This was already mentioned in #207 and in the comments for #72.
Only the readme was updated.

[2018-10-31 14:45] billrobbins opened #433 "Using Columns In Editor Requires Horizontal Scrolling"
When adding a column block to the editor, the second column displays too far to the right.  It requires scrolling to see.  Even when the editor is the full width of my iMac, it still will not fit in the available space.

![2019 Page In Editor](https://justabill.blog/wp-content/uploads/2018/10/2019-editor-columns.png)
Shot of TwentyNineteen theme with columns in editor.

---

![2017 Page In Editor]

[2018-10-31 14:53] ianbelanger79 commented on #433
I can confirm this issue, see screenshots

Twentyseventeen
![2017-columns](https://user-images.githubusercontent.com/34601694/47796492-d51a3780-dcfa-11e8-845d-20a4bc83c940.PNG)

Twentynineteen
![2019-columns](https://user-images.githubusercontent.com/34601694/47796504-db101880-dcfa-11e8-9c05-a19d82717978.PNG)

WP Version: 5.1-alpha-20181026.192038
GB Version: 4.3.0-alpha-3503c0d

FYI, I wasn't see

[2018-10-31 14:58] LittleBigThing commented on #431
Ok, missed the outcome of that discussion, sorry.
But I do think that #432 would be a gentle solution to avoid ugly errors being generated < 4.7.

[2018-10-31 15:50] joyously commented on #431
I agree that it is probably needed. I was just providing references.

[2018-10-31 16:51] LittleBigThing opened #435 "Complete the mapping of icons for social navigation"
I am not sure whether the mapping for the icons of the social navigation is complete. I haven't check them all... most of them work fine.

I noticed this when I added an email address. It is used the default link icon.

Can it be simply added to the [mapping](https://github.com/WordPress/twentynineteen/blob/7263990fafb972d7f1fb65efae63a381c3645bd5/classes/class-twentynineteen-svg-icons.php#L173)?

[2018-10-31 17:37] ianbelanger79 opened #438 "IE11: Separators misaligned, different than other browsers"
In IE11, the default (small) separator is centered within the screen, while in other browsers this separator is left aligned. In fact, all of the separators are centered in the screen, not centered in the content.

IE11 Separators
![small-separator-centered-ie11](https://user-images.githubusercontent.com/34601694/47807228-f4708f00-dd11-11e8-98cf-bd277f25a5bf.PNG)

Chrome Separators
![dot-separator

[2018-10-31 18:01] ianbelanger79 opened #440 "Cover Image text shows bold when bold is not selected in backend"
When editing Cover Image text, it shows as bold in the backend, while it's not bold on the frontend.  When bold is selected in the backend, it shows as not bold, while on the frontend it is bold.

Backend - Bold not selected
![bold-not-selected-text-bold-backend](https://user-images.githubusercontent.com/34601694/47808424-bd4fad00-dd14-11e8-8f46-cc5243218539.PNG)

Backend - Bold selected
![bold-se

[2018-10-31 18:11] ianbelanger79 opened #441 "Heading text does not change when bold is selected in backend"
When editing Heading text, selecting bold does not change the text in the backend.  While it does change on the frontend.

Backend
![heading-bold-text-backend](https://user-images.githubusercontent.com/34601694/47809184-b4f87180-dd16-11e8-9c14-e416202809c8.PNG)

Frontend
![heading-bold-text-frontend](https://user-images.githubusercontent.com/34601694/47809187-b88bf880-dd16-11e8-8229-897d9927474f.P

[2018-10-31 18:59] kjellr commented on #107
Just noting that I tested #442 with the sample content here and it does solve the issue noted above:

![video](https://user-images.githubusercontent.com/1202812/47811968-79ad7100-dd1d-11e8-9519-6096823357b0.gif)

[2018-10-31 19:30] atanas-angelov-dev opened #443 "PHP syntax errors on PHP < 5.5 made it to master due to Travis not failing builds"
As of writing this, `footer.php` contains this:
[code]
which results in `Fatal error: Can't use function return value in write context in ./footer.php on line 21` on PHP < 5.5 due to no arbitrary expression support for `empty()` (the same issue is present in `site-branding.php` as well).

While the travis checks did output the parse error, the build did not fail since `find` does not technically f

[2018-10-31 19:34] #107 closed

[2018-10-31 19:55] atanas-angelov-dev commented on #443
My proposed PR is up: #444

[2018-10-31 19:59] pratikthink commented on #172
Update WordPress.org Username in CONTRIBUTORS.md #11328

[2018-10-31 22:42] anevins12 commented on #438
How do you replicate these separators?

[2018-10-31 23:49] timnicholson commented on #391
Thanks for the response. I see now that you actually intended to have headings and some other things non-serif and the main text as serif. I do think that looks really weird, but if that is what is intended then I guess that's ok. But notice how the font sizes are different in your screenshots. And the front-end is breaking words in the middle of them whereas the back-end isn't.

I added a Recent